@media all and (max-width: 768px) {
  .hero-section {
    margin-top: 64px;
  }
}

.hero-section {
  padding-top: 8em;
  padding-bottom: 0em;
}

@media all and (max-width: 768px) {
  .hero-section {
    padding-top: 0em
  }
}


.banner-wrapper .banner-content h2 {
  font-size: 4.5em;
  letter-spacing: 1px;
  max-width: 60%;
  line-height: 1;
  font-weight: 700;
  margin: 5px 0 15px;
  color: black;
  display: flex;
  img {
    margin-right: 15px;
  }
}


.btn {
  background-color: var(--primary-color);
}

.description-col a {
  display: inline-block;
  background: var(--secondary-color);
  color: white;
  border-radius: 8px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 48px;
  padding: 0 24px;
}

.clock-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.get-start-btn {
  padding-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.description-text {
  text-align: center;
}

.content-section {
  margin-top: 4em;
  padding-bottom: 4em;
}

.text-sim-under-section-img {
  width: 665px;
  padding-left: 110px;
}

@media all and (max-width: 768px) {
  .text-sim-under-section-img {
    width: 365px;
    padding-left: 0px;
  }
}

.app-section-text {
  padding-left: 0px;
}

@media all and (max-width: 768px) {
  .app-section-text {
    padding-left: 20px;
  }
}

.review-card {
  position: relative;
}
td {
  img {
    margin-right: 8px;
  }
}
