
<!--- ============================================= COUNTRY DESCRIPTION  ============================================= -->
<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="row">
          <div>
            <div class="wow fadeInUp page-main-title-blue-lg">{{country_greeting}} </div>
            <!-- <p class="wow fadeInUpBig">Checkout our award winning APP. Available on Apple, Google and Amazon. Clean, simple and powerful</p> -->
            <!--                <img alt="" class="input-option-img" [src]="'./assets/images/country_flags/' + iso + '.png'" height="96">-->
            <h2 class="wow fadeInLeft"><img alt="" class="input-option-img" [src]="'./assets/images/country_flags/' + iso + '.png'" height="96"> {{countryName}}</h2>
            <a class="wow fadeInUpBig get-start-btn"  href="https://hello.vinota.com/register" target="_blank">Get Started</a>
          </div>
          <!-- <div class="col-4"><img src="../../../assets/images/png/mx.png" class="banner-content-img" /></div> -->
        </div>
      </div>
    </div>

  </div>
</section>


<!--- ============================================= RATE CHART  ============================================= -->
<section id="lnk-1" class="content-section">
  <div class="container">
    <div class="row d-flex align-items-center apps-section">
      <div class="col-md-8">
        <p>
          Last Update : {{date | date:'yyyy/MM/dd'}}
        </p>
      </div>
      <div class="col-md-4">
        <!--            <select class="form-select" aria-label="Default select example">-->
        <!--              <option selected>US Dollar</option>-->
        <!--              <option value="1">One</option>-->
        <!--              <option value="2">Two</option>-->
        <!--              <option value="3">Three</option>-->
        <!--            </select>-->
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table ">
            <thead>
            <tr>
              <th scope="col"></th>
              <th class="text-right" scope="col">CALL</th>
              <th class="text-right" scope="col">SMS</th>
              <th class="text-center" scope="col">MINS/5 USD</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let x of rates">
              <td><img alt="" class="input-option-img" [src]="'./assets/images/country_flags/' + iso + '.png'" height="30"> {{x.name}}</td>
              <td class="text-center" *ngIf="x.rate>0">{{x.rate | currency}}</td>
              <td class="text-center"*ngIf="x.rate<0">-</td>
              <td class="text-center" *ngIf="x.sms>0">{{x.sms | currency}}</td>
              <td class="text-center"*ngIf="x.sms<0">-</td>
              <td class="text-center" *ngIf="5/x.usd5>0">{{5/x.usd5 | number: '1.0-0'}}</td>
              <td class="text-center" *ngIf="5/x.usd5<0">-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 description-col">
        <img src="../../../assets/images/clock_1.png" alt="" class="clock-img" />
        <div class="row">
          <div class="description-text">

            <div class="col-md-12">{{mobile_min}} minutes to mobiles or {{landline_min}} minutes to landline in {{countryName}} for 5 USD</div>
            <div class="w-100"></div>
            <div class="col-md-12">Signup Now,
              It takes less than 1 min to JOIN
              <div class="w-100"></div>
              <div> <a class="wow fadeInLeft get-start-btn" href="https://hello.vinota.com/register" target="_blank">Get Started</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--- ============================================= HD VOICE CARD  ============================================= -->

<section class="hd-voice-row">
  <div class="hd-row-background ">
    <div class="container ">
      <div class="row">
        <div class="col-12">
          <div class="hd-voice-text">Vinota is the first app that delivers Premium VOICE quality</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--- ============================================= ONE CALL CARD  ============================================= -->


<section class="one-call-card">
  <div class="container">
    <div class="one-call-card-bg">
      <div class="content">
        <h2 class="s-46 ">UNITING THE <span style="color:#3399cc">WORLD</span>, ONE CALL AT A <span
          style="color:rgb(21, 189, 91)">TIME</span></h2>
        <a class="wow fadeInLeft" href="https://hello.vinota.com/register" target="_blank">Get Started</a>
      </div>
    </div>
  </div>
</section>
