
<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-black-lg">Terms & Conditions</span>
  </div>
</section>
<!-- Support section -->
<app-support-section id="support_section"></app-support-section>
<section class="content-section">

  <div class="content-wrapper">
    <p>Vinota Networks Pty Ltd located at 2/167 Blackburn Road, Mount Waverley, Victoria 3149, Australia is a company incorporated under the laws of Australia ("Vinota", "us", "our" or "we").</p>
    <p>The Terms and Conditions (the "Terms") set forth below, any additional terms and conditions provided by Vinota including but not limited to our Privacy Policy, apply to every offer made by Vinota Networks Pty Ltd, trading under the name: Vinota ("Vinota") and to every contract that has been realized between Vinota and a user (the "User" or "Users") using the Vinota mobile application (the "Software" or "App"), purchasing Vinota Call Credits or Vouchers (the "Products") or with regard to the mobile telecommunication services provided by Vinota (the "Services"). The Terms will be provided electronically, in such a way that the User can easily store the Terms on electronic storage media.</p>
      <h3>1.	Acceptance and Updates
      </h3>
      <ol class="_t1">
          <li>By downloading the App from one of our mobile app publishers, you agree to the terms and conditions defined herein. If you do not agree with the Terms and Conditions defined herein, you are not eligible to use the Products, Services nor Software provided by Vinota.</li>
           <li>These Terms will be updated by Vinota from time to time without notice. The changes will be effective when published. You agree to review the Terms and Conditions so that you are aware of any modifications. If you continue to use Vinota and its Services after the date of the amendment being published, it shall constitute that you accept the updated Terms.</li>
      </ol>
      <h3>2.	Contractual relationship</h3>
      <ol class="_t2">
          <li>The contractual relationship between Vinota and the User with respect to the purchase of Call Credit is subject to that which is stipulated in the offer, at the moment at which the User accepts the offer and the conditions thereby stipulated have been fulfilled. Upon the successful purchase of Call Credit, Vinota will immediately increase the User’s Call Credit balance accordingly. The value of Call Credit redeemed through a Voucher code, is considered as normal Call Credit.</li>
          <li>Neither Vinota nor any third parties provide any warranty or guarantee as for the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on the website and in the App for any particular purpose. Any such information and materials may contain inaccuracies or errors for which any compensation cannot be claimed from Vinota. We do not accept liability for any such inaccuracies or errors in any of the information and materials provided by Vinota nor its third-party Resellers’ to the fullest extent permitted by law.</li>
      </ol>
      <h3>3.	Consent to Use of Data</h3>
      <p>By downloading, installing and using the Vinota App, you provide your consent for Vinota to collect and use data and related information, including but not limited to technical information about your device, your connection and application, and peripherals that are gathered periodically to facilitate the provision of our Products, Services and relevant support services. We may use this information to improve our Product and Service or to provide services or technologies to you or to communicate with you. For further details, please refer our Privacy Policy.</p>
  
      <h3>4.	Usage of Products and Services</h3>
      <ol class="_t4">
          <li>An internet connection (Wi-Fi or mobile data communication) is a prerequisite to use the App and the Services provided by Vinota. Additional charges from an internet service provider or telecommunication service provider may apply for the use of an internet connection.</li>
          <li>Users can sign up with Vinota and/or purchase Products via the App or via the Vinota website.</li>
          <li>Vinota may provide updates to the App and/or make change the Services at any time. The User may be required to update the App installed on their mobile device in order to continue using the Software and its Services. However Vinota has no obligation to make any updates available.</li>
          <li>Vinota does not support calling emergency telephone numbers (such as: 000, 112, 911 or ambulance/doctor telephones). In addition, we do not include support to call premium and/or toll-free numbers.
          <li>The User shall use the Software and the Services in accordance with the laws of Australia and the laws of the country of residence of the User and also the laws of the country of the receiving party.</li>
          <li>The content of the communications made using Vinota is entirely determined by the person from whom such content originates. Therefore the User, receiving party or any third party may be exposed to content that is offensive, harmful, indecent or otherwise objectionable. Vinota does not accept liability for any type of communication spread by means of the Services.</li>
          <li>Vinota provides the best voice quality mobile telecommunication service via the internet and aims to resolve service interruptions as quickly as possible. The User is aware that reliable internet connections are not always available. Therefore we cannot guarantee uninterrupted services, without delays or errors. Various factors outside of our control may impact the quality of the connection and the use of the Software and Services. Vinota is not responsible nor liable for any disruption, interruption or delay of the Services caused by the Users internet connection.</li>
          <li>Vinota reserves the right to block individuals and their numbers, either permanently or temporarily in the interest of protecting the other Users as well as the general public against improper use, fraud and/or potential fraud.</li>
          <li>Vinota reserves the right to block calls to groups of numbers or certain countries either permanently or temporarily without notice nor explanation to the User.</li>
      </ol>
  
  
      <h3>5.	Unauthorised Use</h3>
      <ol class="_t5">
          <li>You are responsible for all actions that take place as a result of access to or use of the App via your login credentials and/or via your mobile phone independently of whether the access was made by yourself or by a third party using your credentials and/or mobile phone.</li>
          <li>If your mobile device is stolen or if you become aware of unauthorized use of the Software, you must notify Vinota immediately and request to block your user account and suspend the Service. You are responsible for all charges until the Service is suspended. We have the right to change your password at any time in our sole discretion and without notice, should we become aware of or suspect an unauthorized use.</li>
          <li>Vinota is not obliged to reimburse any unauthorised charges on a User’s credit / debit card resulting from unauthorised use. Although Vinota may offer full or partial compensation as a measure of goodwill, which is completely at our own discretion, the User is not entitled to claim any such financial losses from Vinota.</li>
          <li>Vinota does not offer any compensation in the event of an unauthorized transfer of Credit to another User. It is the sole responsibility of each user to ensure the Vinota App is not used for such unauthorized activity.</li>
      </ol>
  
      <h3>6.	Call Credit</h3>
      <ol class="_t6">
          <li>The User is required to purchase call credit from Vinota ("Call Credit" or "Credit") in order to make use of the Services.</li>
          <li>Purchased Call Credit will not expire and will have unlimited validity.</li>
          <li>Vinota Call Credit is independent of the users’ mobile device. Therefore Users can switch from one mobile device to another while retaining their credit balance.</li>
          <li>Vinota Call Credit is independent of the users’ phone number. Therefore Users can change their phone number while retaining their credit balance.</li>
          <li>Vinota Call Credit can be transferred from one User to another without incurring any additional charges.</li>
          <li>Vinota may offer promotional and/or bonus credit to individual users at our sole discretion. Users are not entitled to demand nor request such Credit.</li>
          <li>Any bonus credit offered in return for introducing new users through the Vinota Referral App or other means, can be withdrawn at our sole discretion, if the referral is found not to be genuine after scrutinizing.</li>
          <li>Vinota reserves the right to withdraw the eligibility of individual users, to use the Vinota Referral App or participate in promotional offers, either permanently or temporarily at our sole discretion, in the interest of preventing improper use, fraud and/or potential fraud.</li>
          <li>Vinota reserves the right to offer and/or withdraw purchase amount options available to individual Users without notice nor the obligation for an explanation.</li>
          <li>Vinota makes various payment methods available to the User for the purchase of Credit through the App and also through our website. From time to time Vinota may change these payment methods. Additional terms and conditions may apply by using the available payment methods, including but not limited to the third party payment service providers terms and conditions.</li>
          <li>When using the in-app purchase function to purchase Call Credit, in addition to Terms defined herein, the relevant service providers’ terms and conditions may apply. There will also be additional charges applicable when using the in-app purchase function which are made visible to the User at the time of purchase. By purchasing Call Credit using the in-app purchase function the User agrees to pay the additional charges described herein.</li>
          <li>Automatic recharge when enabled will also be subject to the terms and conditions of Vinota and the relevant payment service provider.</li>
          <li>With the exception of our authorised resellers, reselling of Vinota Call Credit and/or voucher codes is strictly prohibited. Vinota will not accept responsibility for any losses incurred by a User or a third party as a result of such a transaction.</li>
      </ol>
  <!-- *** -->
      <h3>7.	Refunds</h3>
      <ol class="_t7">
          <li>Unless otherwise provided by law or by a particular offer by Vinota, all purchases are final and non-refundable.</li>
          <li>If you believe you have been charged erroneously, you must contact us within a reasonable amount of time via support@vinota.com to resolve the matter. Vinota reserves the right to issue refunds at our sole discretion. If we issue a refund or credit, we are under no obligation to issue the same or similar refund in the future.</li>
          <li>Repetitive requests by the same user for refunds would be rejected.</li>
          <li>This policy does not affect any of your statutory rights to pursue a claim.</li>
          <li>In the event of any reimbursements, Vinota will use the same payment method that was used by the User to purchase Call Credit, unless Vinota and the User mutually agrees to use another payment method for this purpose.</li>
          <li>Credits granted by Vinota during promotions and/or as a bonus are not eligible for refunds under any circumstance.</li>
      </ol>
  
      <h3>8.	Rates</h3>
      <ol class="_t8">
          <li>The rates for the Services of Vinota are published within the App. These rates may be updated by Vinota at any time without prior notice to the User by publishing such changes in the App. The new rates will apply after the new rates have been published.</li>
          <li>The duration of a call is based on one-minute increments. Fractions of minutes will be rounded up to the next minute. Vinota does not charge a charge a connection fee per call. The charges incurred will be deducted automatically from the Users credit balance at the end of each call.</li>
      </ol>
  
      <h3>9.	Termination</h3>
      <ol class="_t9">
          <li>You may terminate your relationship with Vinota at any time. The User who wishes to terminate the relationship must report this to Vinota by sending an email to support@vinota.com. The risk and the burden of proof for exercising the right of withdrawal correctly and in time rests upon the User.</li>
          <li>Vinota reserves the right to decide if purchased credits will be fully or partially refunded to the User. Credits granted by Vinota during promotions and/or as a bonus will not be included in the event of any refund offered at the time of termination.</li>
          <li>For any reimbursements, Vinota will use the same payment method that was used by the User to purchase Call Credit, unless Vinota and the User mutually agrees to another payment method.</li>
          <li>If you breach these Terms and Conditions, Vinota reserves the right to terminate your user account at any time and immediately, without prior notice to you, and without any obligation to compensate you for any loss due to such cancellation.</li>
          <li>Vinota may also terminate your account at any time and immediately, without prior notice to you, if we reasonably suspect that you are using the Software and/or its Service fraudulently or that your user account is being used by a third party fraudulently. In such a situation we have no obligation to compensate you for any loss due to such cancellation.</li>
          <li>Vintoa also reserves the right to cancel user accounts that have been inactive for extended periods of time according to our own discretion.</li>
          <li>Upon termination, the User will lose access to the Software and its services.</li>
      </ol>
  
      <h3>10.	Intellectual Proprietary Rights</h3>
      <ol class="_t10">
          <li>You agree that the Software and the Site contain proprietary content, information and material that is protected by applicable intellectual property and other laws, including but not limited to copyright, and that you will not use such proprietary content, information or materials in any way whatsoever except for permitted use of the Software.</li>
          <li>Vinota retains exclusive ownership of the Product Site, Software and all intellectual property therein (whether or not registered and anywhere in the world). You will not take any action to jeopardize, limit or interfere with Vinotas’ intellectual property rights.</li>
          <li>Vinota is a registered trademark of Vinota Networks Pty Ltd. and has registered its trademarks in various countries worldwide. The User is not authorized to use trademarks and/or trade names of Vinota without the prior written consent of Vinota.</li>
          <li>You are not authorised to represent Vinota in any form including and not limited to acting as an agent or reseller without obtaining prior approval from Vinota.</li>
      </ol>
  
      <h3>11.	Liability</h3>
      <ol class="_t11">
          <li>To the extent legally permitted, Vinota is not liable for any loss, whether of money, goodwill, or reputation, or any special, indirect, or consequential damages arising out of the User’s use of, or inability to use the Software and/or the Services.</li>
          <li>The user acknowledges and agrees that use of our Services are at the sole risk of the user. The entire risk as to satisfactory quality, performance, accuracy and effort is with the user. To the maximum extent permitted by applicable law, the Services are provided "as is" and "as available", with all faults and without warranty of any kind, and we hereby disclaim all warranties and conditions with respect to the Services, either express, implied or statutory, including, but not limited to, the implied warranties and/or conditions of merchantability, of satisfactory quality, of fitness for a particular purpose, of accuracy, of quiet enjoyment, and non-infringement of third party rights.</li>
          <li>We do not warrant against interference with your enjoyment of the Services or that the Services will be uninterrupted or error-free, or that defects in the Services will be corrected. No verbal or written information or advice given by us shall create such a warranty. Should the service cause any defects, you assume the entire cost of all necessary servicing, repair or correction.</li>
          <li>You understand that we cannot guarantee that information or communications transmitted in relation to the use of Services will not be subject to interception by law enforcement officials, or government authorities, or other third parties.</li>
          <li>The User agrees to indemnify and hold harmless Vinota and its affiliates, and each of their directors, shareholders and employees from and against any and all claims, losses and/or damages arising from or relating to the use of the Software and/or the Services.</li>
      </ol>
  
      <h3>12.	Jurisdiction</h3>
      <p>There may be restrictions on the use of internet telephony or other parts of the Service in some countries. It is the responsibility of the User to ensure that such services can be legally used where you are located. Vinota will not be held responsible for the violation of any such law by the Users.</p>
  
      <h3>Company Information</h3>
      <div class="contact-info-card">
      <p><strong>Entity name:</strong> 	Vinota Networks Pty Ltd.</p>
      <p><strong>Address:</strong>	2/167 Blackburn Road,Mount Waverley, Victoria 3149, Australia</p>
      <p><strong>Entity type:</strong> 	Australian Private Company</p>
      <p><strong>ABN:</strong> 		80 610 075 093</p>
      <p><strong>Tel:</strong> 	+61399880545 / +61283180332</p>
      </div>
  </div>
</section>