<header id="header" class="main-header white-scroll">
  <div class="header-wrapper flex align-center justify-content-between">
    <div class="logo">
            <a [routerLink]="['/']"><img src="./assets/images/Vinota-Logo-New-white12345.png" /></a>
    </div>
    <span (click)="toggleNav()" class="nav-icon">
          <a></a>
        </span>
    <nav class="nav-bar">
      <a [routerLink]="['/call-rates']">Rates</a>
      <a [routerLink]="['/apps']">Apps</a>
      <a type="button" (click)="navigateToSection('support_section')">Support</a>
      <a target="_blank" href="https://hello.vinota.com/register">Join</a>
      <a target="_blank" href="https://hello.vinota.com/login" style="border-radius: 7px;
                background: #1ac521;
                color: white;">Top-up</a>
    </nav>
    <div></div>
  </div>
  <a class="login-button" href="https://hello.vinota.com/login" target="_blank">Login</a>
</header>
<div id="support_section" class="section-align">
  <div [class.support-section]="changeClass">
    <br>
    <br>
    <br>
    <br>
    <div class="support">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-2 col-xl-3">
            <div class="footer-links fl-1 ">
              <ul class="foo-links clearfix">
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                  routerLink="/apps">
                  APPs</a></li>
                <span class="support-description">
                                            <p>Explore the Great Features of the Vinota App
                                            </p>
                                        </span>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 col-xl-3">
            <div class="footer-links fl-2">
              <ul class="foo-links clearfix">
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a>
                  SUPPORT TICKETS</a>
                </li>
                <span class="support-description">
                                            <p>Visit Support Tickets
                                            </p>
                                        </span>
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                  routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                <span class="support-description">
                                            <p>Everything You Need to Know About Vinota</p>
                                        </span>
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                  routerLink="/faq"> FAQs
                </a></li>
                <span class="support-description">
                                            <p>All Your Questions Answered</p>
                                        </span>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 col-xl-3">
            <div class="footer-links fl-3">
              <ul class="foo-links clearfix">
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a>
                  ADD CREDIT </a></li>
                <span class="support-description">
                                            <p>Get in Touch with Us
                                            </p>
                                        </span>
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                  routerLink="/contact-us"> CONTACT US </a></li>
                <span class="support-description">
                                            <p>Get in touch with us</p>
                                        </span>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 col-xl-3">
            <div class="footer-links fl-3">
              <ul class="foo-links clearfix">
                <li> <img class="support-icon-sm"
                          src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a>
                  FEEDBACK </a></li>
                <span class="support-description">
                                            <p>We love to hear from you</p>
                                        </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
