<section class="bg--scroll hero-section text-center">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-black-lg">Legal information</span>
  </div>
</section>
<section class="content-section">
  <div class="content-wrapper"><div class="wrapper ion-text-center">
    <div class="row justify-content-center">
      <div class="col-11 col-lg-6 col-xl-6 col-md-6 col-sm-8">
        <h3>Unlock Your Home Country Number Abroad</h3>
        <p>Experience the Freedom of Unlimited Calls and SMS from Your Home Country to Our Mobile App for just $2.5 per month.</p>
        <h3>No Number? No Problem!</h3>
        <p>Acquire a New Home Country Number for the Same Price.</p>
        <h3>Wave Goodbye to Expensive Roaming</h3>
        <p>Embrace the Future of Connectivity!</p>
        <h3>Claim Your Spot Today</h3>

<!--        FORM -->
        <div class="row form-wrapper">

          <form class="col-11 col-lg-6 col-xl-6 col-md-6 col-sm-8">
            <div>
              <label class="form-label">Name</label>
              <input type="text" class="form-control">
            </div>
            <div>
              <label class="form-label">Your Home Country</label>
              <input type="text" class="form-control">
            </div>
            <div>
              <label class="form-label">Email/Mobile</label>
              <input type="text" class="form-control">
            </div>
            <!--          <div>-->
            <!--            <label class="form-label">Name</label>-->
            <!--            <input type="text" class="form-control">-->
            <!--          </div>-->
            <div class="button-wrapper mt-4">
              <button class="btn btn--black">Submit</button>
            </div>
          </form>
        </div>

        <h3>In partnership with</h3>
        <p>Airtel | Jio | Vodafone India | Dialog | Mobitel | Hutch | Telkomsel | Telenor | Jazz | Zong</p>
        <p>Thank You message once the user sign up</p>

        <p>Thank you for signing up and being part of our community!</p>

        <p>Your early support is invaluable as we work toward bringing you an innovative connectivity solution. But we're not done yet.</p>

        <p>You can help us make this service a reality even faster. Share the news with your friends, family, and colleagues. Invite them to sign up and be a part of the future of connectivity.</p>

        <p>The more, the merrier! Let's create a network that truly connects us all.</p>

        <p>We'll keep you updated on our progress, and remember, your support is driving this change.</p>

        <p>Thank you for being a part of our journey toward a connected world."</p>

        <div *ngIf="message"
             [@inOutAnimation]
             class="error-message" [class.success]="isSuccess" [innerHTML]="message"></div>


        <span>Don't have access to the mail? Please contact support@tasom.io to help reset password.</span>

      </div>
    </div>
  </div>

  </div>
</section>
