// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --primary-color: #20A7FF;
  --secondary-color: #f11060;
  --app-font-family: 'Outfit', sans-serif;
  --app-secondary-font-family: 'Inter', sans-serif;
}
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
}
