<!doctype html>
<html lang="en">

<body>
  <div id="page" class="page">
    <header id="header" class="main-header white-scroll">
      <div class="header-wrapper flex align-center justify-content-between">
        <div class="logo">
          <a routerLink="/index"><img src="./assets/images/Vinota-Logo-New-white12345.png" /></a>
        </div>
        <span class="nav-icon">
          <a></a>
        </span>
        <nav class="nav-bar">
          <a routerLink="/index">Home</a>
          <a routerLink="/call-rates">Rates</a>
          <a routerLink="/apps">Apps</a>
          <a type="button" (click)="navigateToSection('support_section')">Support</a>
          <a href="https://hello.vinota.com/register">Join</a>
          <a href="https://hello.vinota.com/login" style="border-radius: 7px;
    background: #04AA6D;
    color: white;">Top-up</a>
        </nav>
        <div></div>
      </div>
      <a href="https://hello.vinota.com/login" class="login-button">Login</a>
    </header>

    <section class="bg--scroll hero-section">
      <div class="banner-wrapper">
        <div class="banner-content">
          <div class="content">
            <div class="lg-screen">
              <div class="row">
                <div class="col-7">
                  <div class="wow fadeInUp page-main-title-blue-lg">Call rates</div>
                  <form class="quick-form form-stroke">
                    <div class="position-relative">
                      <i class="fa fa-search position-absolute search-icon"></i>
                      <input type="search" type="email" size="50" class="form-control"
                        placeholder="Where would you like to call?" autocomplete="off">
                    </div>
                  </form>
                  <div class="search-title">
                    <p class="wow fadeInUpBig">Explore our affordable international rates</p>
                  </div>
                  <h2 class="wow fadeInLeft">Take the first step now
                  </h2>
                  <p class="wow fadeInUp fadeInUpBig">Connect globally without breaking the bank. Vinota offers the most
                    competitive international call rates in the market. Stay in touch with your loved ones, friends, and
                    colleagues worldwide at an affordable price. Search your country now and experience the convenience
                    of our service. Plus, your first international call is FREE. Don’t miss out and connect effortlessly
                    with Vinota today.
                  </p>
                  <a class="wow fadeInUpBig">Connect with confidence</a>

                </div>
                <div class="col-5">
                  <br>
                  <br>
                  <br>

                  <img src="./assets/images/page-first-image/2989843.jpg"
                    class="banner-content-img wow fadeInLeft" />

                </div>

              </div>
            </div>
            <div class="sm-screen">
              <div class="col-12">
                <div class="wow fadeInUp page-main-title-blue-lg">Call rates</div>
                <form class="quick-form form-stroke">
                  <div class="position-relative">
                    <i class="fa fa-search position-absolute search-icon"></i>
                    <input type="search" type="email" size="50" class="form-control"
                      placeholder="Where would you like to call?" autocomplete="off">
                  </div>
                </form>
                <div class="search-title">
                  <p class="wow fadeInUpBig">Explore our affordable international rates</p>
                </div>
                <h2 class="wow fadeInLeft">Take the first step now
                </h2>
                <p class="wow fadeInUpBig fadeInUp">Connect globally without breaking the bank. Vinota offers the most
                  competitive international call rates in the market. Stay in touch with your loved ones, friends, and
                  colleagues worldwide at an affordable price. Search your country now and experience the convenience of
                  our service. Plus, your first international call is FREE. Don’t miss out and connect effortlessly with
                  Vinota today.
                </p>
                <a class="wow fadeInUpBig">Connect with confidence</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="support_section">
      <div [class.not-active]="changeClass">
        <br>
        <br>
        <br>
        <br>
        <div class="support">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-1 ">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/apps">
                        APPs</a></li>
                    <span class="support-description">
                      <p>Explore the Great Features of the Vinota App
                      </p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-2">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> SUPPORT TICKETS</a>
                    </li>
                    <span class="support-description">
                      <p>Visit Support Tickets
                      </p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                        routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                    <span class="support-description">
                      <p>Everything You Need to Know About Vinota</p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/faq"> FAQs
                      </a></li>
                    <span class="support-description">
                      <p>All Your Questions Answered</p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-3">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> ADD CREDIT </a></li>
                    <span class="support-description">
                      <p>Get in Touch with Us
                      </p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                        routerLink="/contact-us"> CONTACT US </a></li>
                    <span class="support-description">
                      <p>Get in touch with us</p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-3">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> FEEDBACK </a></li>
                    <span class="support-description">
                      <p>We love to hear from you</p>
                    </span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="reviews-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-5">
            <div class="section-title">
              <h4 class="page-sub-title-gray-md">Top Destinations</h4>
            </div>
          </div>
        </div>
        <div class="owl-carousel owl-theme reviews-1-wrapper">
          <div routerLink="/about-country">
            <div class="author-data">
              <div class="country-img">
                <img src="./assets/images/country_flags/mx.png" alt="review-avatar">
              </div>
              <br>
              <div class="review-author">
                <h4> Mexico </h4>
                <h5>USD 0.0016/ min</h5>
                <h6>3125 mins for 5 USD </h6>
              </div>
            </div>
          </div>
          <div routerLink="/about-country">
            <div class="author-data">
              <div class="country-img">
                <img src="./assets/images/country_flags/pk.png" alt="review-avatar">
              </div>
              <br>
              <div class="review-author">
                <h4> Pakistan </h4>
                <h5>USD 0.0016/ min</h5>
                <h6> USD 0.0005 / Min</h6>
              </div>
            </div>
          </div>
          <div routerLink="/about-country">
            <div class="author-data">
              <div class="country-img">
                <img src="./assets/images/country_flags/au.png" alt="review-avatar">
              </div>
              <br>
              <div class="review-author">
                <h4> Australia </h4>
                <h5>USD 0.0126/ min</h5>
                <h6>397 mins for 5 USD </h6>
              </div>
            </div>
          </div>
          <div routerLink="/about-country">
            <div class="author-data">
              <div class="country-img">
                <img src="../assets/images/country_flags/us.png" alt="review-avatar">
              </div>
              <br>
              <div class="review-author">
                <h4> United States </h4>
                <h5>USD 0.0159/ min</h5>
                <h6>314 mins for 5 USD </h6>
              </div>
            </div>
          </div>
          <div routerLink="/about-country">
            <div class="author-data">
              <div class="country-img">
                <img src="./assets/images/country_flags/in.png" alt="review-avatar">
              </div>
              <br>
              <div class="review-author">
                <h4>India</h4>
                <h5>USD 0.0159/ min</h5>
                <h6> 314 mins for 5 USD </h6>
              </div>
            </div>
          </div>
          <div routerLink="/about-country">
            <div class="author-data">
              <div class="country-img">
                <img src="./assets/images/country_flags/bd.png" alt="review-avatar">
              </div>
              <br>
              <div class="review-author">
                <h4> Bangladesh </h4>
                <h5>USD 0.0210/ min</h5>
                <h6> 238 mins for 5 USD </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="letters-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="section-title">
              <div class="country-list-header page-sub-title-gray-sm">Search By Full List Of Country</div>
            </div>
            <hr>
            <h6 class="s-10 w-500 country-letters">A &nbsp; B &nbsp; C &nbsp; D &nbsp; E &nbsp; F &nbsp; G &nbsp; H
              &nbsp; I &nbsp; J &nbsp; K &nbsp; L &nbsp; M &nbsp; N &nbsp; O &nbsp; P &nbsp; Q &nbsp; R &nbsp; S &nbsp;
              T &nbsp; U &nbsp; V &nbsp; W &nbsp; X &nbsp; Y &nbsp; Z</h6>
          </div>
        </div>
        <div class="owl-carousel owl-theme reviews-1-wrapper">
        </div>
      </div>
    </section>
    <div class="all-list-button">
      <div class="d-flex justify-content-center"> <a class="wow fadeInUpBig" onclick="showHiddeCountries()">All
          Country</a>
      </div>
    </div>



    <div class="country-flags-list call-rates-align" id="show-hide-country-list">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <hr>
          <h2>A</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/af.png" width="50px" height="50px" />&nbsp;
          <p id="p1">
            Afghanistan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/al.png" width="50px" height="50px" />&nbsp;
          <p id="p2">
            Albania</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/dz.png" width="50px" height="50px" />&nbsp;
          <p id="p3">
            Algeria</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/as.png" width="50px" height="50px" />&nbsp;
          <p id="p4">
            American Samoa</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ad.png" width="50px" height="50px" />&nbsp;
          <p id="p5">
            Andorra</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ao.png" width="50px" height="50px" />&nbsp;
          <p id="p6">
            Angola</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ai.png" width="50px" height="50px" />&nbsp;
          <p id="p7">
            Anguilla</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/aq.png" width="50px" height="50px" />&nbsp;
          <p id="p8">
            Antarctica</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ag.png" width="50px" height="50px" />&nbsp;
          <p id="p9">
            Antigua and Barbuda</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ar.png" width="50px" height="50px" />&nbsp;
          <p id="p10">Argentina</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/am.png" width="50px" height="50px" />&nbsp;
          <p id="p11">Armenia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/aw.png" width="50px" height="50px" />&nbsp;
          <p id="p12">Aruba</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/au.png" width="50px" height="50px" />&nbsp;
          <p id="p13">Australia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/at.png" width="50px" height="50px" />&nbsp;
          <p id="p14">Austria</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/az.png" width="50px" height="50px" />&nbsp;
          <p id="p15">Azerbaijan</p><br>
          <hr>
          <h2>B</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/bs.png" width="50px" height="50px" />&nbsp;
          <p id="p16">Bahamas</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bh.png" width="50px" height="50px" />&nbsp;
          <p id="p17">Bahrain</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bd.png" width="50px" height="50px" />&nbsp;
          <p id="p18">Bangladesh</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bb.png" width="50px" height="50px" />&nbsp;
          <p id="p19">Barbados</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/by.png" width="50px" height="50px" />&nbsp;
          <p id="p20">Belarus</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/be.png" width="50px" height="50px" />&nbsp;
          <p id="p21">Belgium</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bz.png" width="50px" height="50px" />&nbsp;
          <p id="p22">Belize</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bj.png" width="50px" height="50px" />&nbsp;
          <p id="p23">Benin</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bm.png" width="50px" height="50px" />&nbsp;
          <p id="p24">Bermuda</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bt.png" width="50px" height="50px" />&nbsp;
          <p id="p25">Bhutan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bo.png" width="50px" height="50px" />&nbsp;
          <p id="p26">Bolivia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ba.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p27">Bosnia and Herzegovina</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bw.png" width="50px" height="50px" />&nbsp;
          <p id="p28">Botswana</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/br.png" width="50px" height="50px" />&nbsp;
          <p id="p29">Brazil</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/vg.png" width="50px" height="50px" />&nbsp;
          <p id="p30">British Virgin Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bn.png" width="50px" height="50px" />&nbsp;
          <p id="p31">Brunei</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bg.png" width="50px" height="50px" />&nbsp;
          <p id="p32">Bulgaria</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bf.png" width="50px" height="50px" />&nbsp;
          <p id="p33">Burkina Faso</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/bi.png" width="50px" height="50px" />&nbsp;
          <p id="p34">Burundi</p><br>
          <hr>
          <h2>C</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/kh.png" width="50px" height="50px" />&nbsp;
          <p id="p35">Cambodia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cm.png" width="50px" height="50px" />&nbsp;
          <p id="p36">Cameroon</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ca.png" width="50px" height="50px" />&nbsp;
          <p id="p37">Canada</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cv.png" width="50px" height="50px" />&nbsp;
          <p id="p38">Cape Verde</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ky.png" width="50px" height="50px" />&nbsp;
          <p id="p39">Cayman Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cf.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p40">Central African Republic</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/td.png" width="50px" height="50px" />&nbsp;
          <p id="p41">Chad</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cl.png" width="50px" height="50px" />&nbsp;
          <p id="p42">Chile</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cn.png" width="50px" height="50px" />&nbsp;
          <p id="p43">China</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cx.png" width="50px" height="50px" />&nbsp;
          <p id="p44">Christmas Island</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cc.png" width="50px" height="50px" />&nbsp;
          <p id="p45">Cocos Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/co.png" width="50px" height="50px" />&nbsp;
          <p id="p46">Colombia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/km.png" width="50px" height="50px" />&nbsp;
          <p id="p47">Comoros</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ck.png" width="50px" height="50px" />&nbsp;
          <p id="p48">Cook Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cr.png" width="50px" height="50px" />&nbsp;
          <p id="p49">Costa Rica</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/hr.png" width="50px" height="50px" />&nbsp;
          <p id="p50">Croatia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cu.png" width="50px" height="50px" />&nbsp;
          <p id="p51">Cuba</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/an.png" width="50px" height="50px" />&nbsp;
          <p id="p52">Curacao</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cw.png" width="50px" height="50px" />&nbsp;
          <p id="p53">Curacao</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cy.png" width="50px" height="50px" />&nbsp;
          <p id="p54">Cyprus</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cz.png" width="50px" height="50px" />&nbsp;
          <p id="p55">Czech Republic</p><br>
          <hr>
          <h2>D</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/cd.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p56">Democratic Republic of the Congo</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/dk.png" width="50px" height="50px" />&nbsp;
          <p id="p57">Denmark</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/dj.png" width="50px" height="50px" />&nbsp;
          <p id="p58">Djibouti</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/dm.png" width="50px" height="50px" />&nbsp;
          <p id="p59">Dominica</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/do.png" width="50px" height="50px" />&nbsp;
          <p id="p60">Dominican Republic</p><br>
          <hr>
          <h2>E</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/tl.png" width="50px" height="50px" />&nbsp;
          <p id="p61">East Timor</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ec.png" width="50px" height="50px" />&nbsp;
          <p id="p62">Ecuador</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/eg.png" width="50px" height="50px" />&nbsp;
          <p id="p63">Egypt</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sv.png" width="50px" height="50px" />&nbsp;
          <p id="p64">El Salvador</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gq.png" width="50px" height="50px" />&nbsp;
          <p id="p65">Equatorial Guinea</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/er.png" width="50px" height="50px" />&nbsp;
          <p id="p66">Eritrea</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ee.png" width="50px" height="50px" />&nbsp;
          <p id="p67">Estonia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/et.png" width="50px" height="50px" />&nbsp;
          <p id="p68">Ethiopia</p><br>
        </div>
        <div class="col-md-3 col-sm-3">
          <hr>
          <h2>F</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/fj.png" width="50px" height="50px" />&nbsp;
          <p id="p69">Fiji</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/fi.png" width="50px" height="50px" />&nbsp;
          <p id="p70">Finland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/fr.png" width="50px" height="50px" />&nbsp;
          <p id="p71">France</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gf.png" width="50px" height="50px" />&nbsp;
          <p id="p72">French Guiana</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pf.png" width="50px" height="50px" />&nbsp;
          <p id="p73">French Polynesia</p><br>
          <hr>
          <h2>G</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/ga.png" width="50px" height="50px" />&nbsp;
          <p id="p74">Gabon</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gm.png" width="50px" height="50px" />&nbsp;
          <p id="p75">Gambia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ge.png" width="50px" height="50px" />&nbsp;
          <p id="p76">Georgia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/de.png" width="50px" height="50px" />&nbsp;
          <p id="p77">Germany</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gh.png" width="50px" height="50px" />&nbsp;
          <p id="p78">Ghana</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gi.png" width="50px" height="50px" />&nbsp;
          <p id="p79">Gibraltar</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gr.png" width="50px" height="50px" />&nbsp;
          <p id="p80">Greece</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gl.png" width="50px" height="50px" />&nbsp;
          <p id="p81">Greenland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gd.png" width="50px" height="50px" />&nbsp;
          <p id="p82">Grenada</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gp.png" width="50px" height="50px" />&nbsp;
          <p id="p83">Guadeloupe</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gu.png" width="50px" height="50px" />&nbsp;
          <p id="p84">Guam</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gt.png" width="50px" height="50px" />&nbsp;
          <p id="p85">Guatemala</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gg.png" width="50px" height="50px" />&nbsp;
          <p id="p86">Guernsey</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gn.png" width="50px" height="50px" />&nbsp;
          <p id="p87">Guinea</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gw.png" width="50px" height="50px" />&nbsp;
          <p id="p88">Guinea Bissau</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gy.png" width="50px" height="50px" />&nbsp;
          <p id="p89">Guyana</p><br>
          <hr>
          <h2>H</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/ht.png" width="50px" height="50px" />&nbsp;
          <p id="p90">Haiti</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/hn.png" width="50px" height="50px" />&nbsp;
          <p id="p91">Honduras</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/hk.png" width="50px" height="50px" />&nbsp;
          <p id="p92">Hong Kong</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/hu.png" width="50px" height="50px" />&nbsp;
          <p id="p93">Hungary</p><br>
          <hr>
          <h2>I</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/is.png" width="50px" height="50px" />&nbsp;
          <p id="p94">Iceland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/in.png" width="50px" height="50px" />&nbsp;
          <p id="p95">India</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/id.png" width="50px" height="50px" />&nbsp;
          <p id="p96">Indonesia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ir.png" width="50px" height="50px" />&nbsp;
          <p id="p97">Iran</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/iq.png" width="50px" height="50px" />&nbsp;
          <p id="p98">Iraq</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ie.png" width="50px" height="50px" />&nbsp;
          <p id="p99">Ireland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/im.png" width="50px" height="50px" />&nbsp;
          <p id="p100">Isle of Man</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/il.png" width="50px" height="50px" />&nbsp;
          <p id="p101">Israel</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/va.png" width="50px" height="50px" />&nbsp;
          <p id="p102">Italy</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/it.png" width="50px" height="50px" />&nbsp;
          <p id="p103">Italy</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ci.png" width="50px" height="50px" />&nbsp;
          <p id="p104">Ivory Coast</p><br>
          <hr>
          <h2>J</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/jm.png" width="50px" height="50px" />&nbsp;
          <p id="p105">Jamaica</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/jp.png" width="50px" height="50px" />&nbsp;
          <p id="p106">Japan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/je.png" width="50px" height="50px" />&nbsp;
          <p id="p107">Jersey</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/jo.png" width="50px" height="50px" />&nbsp;
          <p id="p108">Jordan</p><br>
          <hr>
          <h2>K</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/kz.png" width="50px" height="50px" />&nbsp;
          <p id="p109">Kazakhstan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ke.png" width="50px" height="50px" />&nbsp;
          <p id="p110">Kenya</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ki.png" width="50px" height="50px" />&nbsp;
          <p id="p111">Kiribati</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/kw.png" width="50px" height="50px" />&nbsp;
          <p id="p112">Kuwait</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/kg.png" width="50px" height="50px" />&nbsp;
          <p id="p113">Kyrgyzstan</p><br>
          <hr>
          <h2>L</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/la.png" width="50px" height="50px" />&nbsp;
          <p id="p114">Laos</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lv.png" width="50px" height="50px" />&nbsp;
          <p id="p115">Latvia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lb.png" width="50px" height="50px" />&nbsp;
          <p id="p116">Lebanon</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ls.png" width="50px" height="50px" />&nbsp;
          <p id="p117">Lesotho</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lr.png" width="50px" height="50px" />&nbsp;
          <p id="p118">Liberia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ly.png" width="50px" height="50px" />&nbsp;
          <p id="p119">Libya</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/li.png" width="50px" height="50px" />&nbsp;
          <p id="p120">Liechtenstein</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lt.png" width="50px" height="50px" />&nbsp;
          <p id="p121">Lithuania</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lu.png" width="50px" height="50px" />&nbsp;
          <p id="p122">Luxembourg</p><br>
        </div>
        <div class="col-md-3 col-sm-3">
          <hr>
          <h2>M</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/mo.png" width="50px" height="50px" />&nbsp;
          <p id="p123">Macau</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mg.png" width="50px" height="50px" />&nbsp;
          <p id="p124">Madagascar</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mw.png" width="50px" height="50px" />&nbsp;
          <p id="p125">Malawi</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/my.png" width="50px" height="50px" />&nbsp;
          <p id="p126">Malaysia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mv.png" width="50px" height="50px" />&nbsp;
          <p id="p127">Maldives</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ml.png" width="50px" height="50px" />&nbsp;
          <p id="p128">Mali</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mt.png" width="50px" height="50px" />&nbsp;
          <p id="p129">Malta</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mh.png" width="50px" height="50px" />&nbsp;
          <p id="p130">Marshall Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mq.png" width="50px" height="50px" />&nbsp;
          <p id="p131">Martinique</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mr.png" width="50px" height="50px" />&nbsp;
          <p id="p132">Mauritania</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mu.png" width="50px" height="50px" />&nbsp;
          <p id="p133">Mauritius</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/re.png" width="50px" height="50px" />&nbsp;
          <p id="p134">Mayotte</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/yt.png" width="50px" height="50px" />&nbsp;
          <p id="p135">Mayotte</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mx.png" width="50px" height="50px" />&nbsp;
          <p id="p136">Mexico</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/fm.png" width="50px" height="50px" />&nbsp;
          <p id="p137">Micronesia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/md.png" width="50px" height="50px" />&nbsp;
          <p id="p138">Moldova</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mc.png" width="50px" height="50px" />&nbsp;
          <p id="p139">Monaco</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mn.png" width="50px" height="50px" />&nbsp;
          <p id="p140">Mongolia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/me.png" width="50px" height="50px" />&nbsp;
          <p id="p141">Montenegro</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ms.png" width="50px" height="50px" />&nbsp;
          <p id="p142">montserrat</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ma.png" width="50px" height="50px" />&nbsp;
          <p id="p143">Morocco</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mz.png" width="50px" height="50px" />&nbsp;
          <p id="p144">Mozambique</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mm.png" width="50px" height="50px" />&nbsp;
          <p id="p145">Myanmar</p><br>
          <hr>
          <h2>N</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/na.png" width="50px" height="50px" />&nbsp;
          <p id="p146">Namibia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/nr.png" width="50px" height="50px" />&nbsp;
          <p id="p147">Nauru</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/np.png" width="50px" height="50px" />&nbsp;
          <p id="p148">Nepal</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/nl.png" width="50px" height="50px" />&nbsp;
          <p id="p149">Netherlands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/nc.png" width="50px" height="50px" />&nbsp;
          <p id="p150">New Caledonia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/nz.png" width="50px" height="50px" />&nbsp;
          <p id="p151">New Zealand</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ni.png" width="50px" height="50px" />&nbsp;
          <p id="p152">Nicaragua</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ne.png" width="50px" height="50px" />&nbsp;
          <p id="p153">Niger</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ng.png" width="50px" height="50px" />&nbsp;
          <p id="p154">Nigeria</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/kp.png" width="50px" height="50px" />&nbsp;
          <p id="p155">North Korea</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/mp.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p156">Northern Mariana Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/no.png" width="50px" height="50px" />&nbsp;
          <p id="p157">Norway</p><br>
          <hr>
          <h2>O</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/om.png" width="50px" height="50px" />&nbsp;
          <p id="p158">Oman</p><br>
          <hr>
          <h2>P</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/pk.png" width="50px" height="50px" />&nbsp;
          <p id="p159">Pakistan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pw.png" width="50px" height="50px" />&nbsp;
          <p id="p160">Palau</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ps.png" width="50px" height="50px" />&nbsp;
          <p id="p161">Palestine</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pa.png" width="50px" height="50px" />&nbsp;
          <p id="p162">Panama</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pg.png" width="50px" height="50px" />&nbsp;
          <p id="p163">Papua New Guinea</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/py.png" width="50px" height="50px" />&nbsp;
          <p id="p164">Paraguay</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pe.png" width="50px" height="50px" />&nbsp;
          <p id="p165">Peru</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ph.png" width="50px" height="50px" />&nbsp;
          <p id="p166">Philippines</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pn.png" width="50px" height="50px" />&nbsp;
          <p id="p167">Pitcairn Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pl.png" width="50px" height="50px" />&nbsp;
          <p id="p168">Poland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pt.png" width="50px" height="50px" />&nbsp;
          <p id="p169">Portugal</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pr.png" width="50px" height="50px" />&nbsp;
          <p id="p170">Puerto Rico</p><br>
          <hr>
          <h2>Q</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/qa.png" width="50px" height="50px" />&nbsp;
          <p id="p171">Qatar</p><br>
          <hr>
          <h2>R</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/mk.png" width="50px" height="50px" />&nbsp;
          <p id="p172">Republic of Macedonia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/cg.png" width="50px" height="50px" />&nbsp;
          <p id="p173">Republic of the Congo</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ro.png" width="50px" height="50px" />&nbsp;
          <p id="p174">Romania</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ru.png" width="50px" height="50px" />&nbsp;
          <p id="p175">Russian</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/rw.png" width="50px" height="50px" />&nbsp;
          <p id="p176">Rwanda</p><br>
        </div>

        <div class="col-md-3 col-sm-3">
          <hr>
          <h2>S</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/bl.png" width="50px" height="50px" />&nbsp;
          <p id="p177">Saint Barthelemy</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/kn.png" width="50px" height="50px" />&nbsp;
          <p id="p178">Saint Kitts and Nevis</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lc.png" width="50px" height="50px" />&nbsp;
          <p id="p179">Saint Lucia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/df.png" width="50px" height="50px" />&nbsp;
          <p id="p180">Saint Martin</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/pm.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p181">Saint Pierre and Miquelon</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/vc.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p182">Saint Vincent and the Grenadines</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ws.png" width="50px" height="50px" />&nbsp;
          <p id="p183">Samoa</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sm.png" width="50px" height="50px" />&nbsp;
          <p id="p184">San Marino</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sa.png" width="50px" height="50px" />&nbsp;
          <p id="p185">Saudi Arabia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sn.png" width="50px" height="50px" />&nbsp;
          <p id="p186">Senegal</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/rs.png" width="50px" height="50px" />&nbsp;
          <p id="p187">Serbia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sc.png" width="50px" height="50px" />&nbsp;
          <p id="p188">Seychelles</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sl.png" width="50px" height="50px" />&nbsp;
          <p id="p189">Sierra Leone</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sg.png" width="50px" height="50px" />&nbsp;
          <p id="p190">Singapore</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sx.png" width="50px" height="50px" />&nbsp;
          <p id="p191">Sint Maarten</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sk.png" width="50px" height="50px" />&nbsp;
          <p id="p192">Slovakia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/si.png" width="50px" height="50px" />&nbsp;
          <p id="p193">Slovenia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sb.png" width="50px" height="50px" />&nbsp;
          <p id="p194">Solomon Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/so.png" width="50px" height="50px" />&nbsp;
          <p id="p195">Somalia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/za.png" width="50px" height="50px" />&nbsp;
          <p id="p196">South Africa</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/kr.png" width="50px" height="50px" />&nbsp;
          <p id="p197">South Korea</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ss.png" width="50px" height="50px" />&nbsp;
          <p id="p198">South Sudan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/es.png" width="50px" height="50px" />&nbsp;
          <p id="p199">Spain</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/lk.png" width="50px" height="50px" />&nbsp;
          <p id="p200">Sri Lanka</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sd.png" width="50px" height="50px" />&nbsp;
          <p id="p201">Sudan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sr.png" width="50px" height="50px" />&nbsp;
          <p id="p202">Suriname</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/df.png" width="50px" height="50px" />&nbsp;
          <p class="flag-top" id="p203">Svalbard and Jan Mayen</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sz.png" width="50px" height="50px" />&nbsp;
          <p id="p204">Swaziland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/se.png" width="50px" height="50px" />&nbsp;
          <p id="p205">Sweden</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ch.png" width="50px" height="50px" />&nbsp;
          <p id="p206">Switzerland</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/sy.png" width="50px" height="50px" />&nbsp;
          <p id="p207">Syria</p><br>
          <hr>
          <h2>T</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/tw.png" width="50px" height="50px" />&nbsp;
          <p id="p208">Taiwan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tj.png" width="50px" height="50px" />&nbsp;
          <p id="p209">Tajikistan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tz.png" width="50px" height="50px" />&nbsp;
          <p id="p210">Tanzania</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/th.png" width="50px" height="50px" />&nbsp;
          <p id="p211">Thailand</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tg.png" width="50px" height="50px" />&nbsp;
          <p id="p212">Togo</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tk.png" width="50px" height="50px" />&nbsp;
          <p id="p213">Tokelau</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/to.png" width="50px" height="50px" />&nbsp;
          <p id="p214">Tonga</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tt.png" width="50px" height="50px" />&nbsp;
          <p id="p215">Trinidad and Tobago</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tn.png" width="50px" height="50px" />&nbsp;
          <p id="p216">Tunisia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tr.png" width="50px" height="50px" />&nbsp;
          <p id="p217">Turkey</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tm.png" width="50px" height="50px" />&nbsp;
          <p id="p218">Turkmenistan</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/tc.png" width="50px" height="50px" />&nbsp;
          <p id="p219">Turks and Caicos</p><br>
          <hr>
          <h2>U</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/vi.png" width="50px" height="50px" />&nbsp;
          <p id="p220">U.S. Virgin Islands</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ug.png" width="50px" height="50px" />&nbsp;
          <p id="p221">Uganda</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ua.png" width="50px" height="50px" />&nbsp;
          <p id="p222">Ukraine</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ae.png" width="50px" height="50px" />&nbsp;
          <p id="p223">United Arab Emirates</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/gb.png" width="50px" height="50px" />&nbsp;
          <p id="p224">United Kingdom</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/us.png" width="50px" height="50px" />&nbsp;
          <p id="p225">United States</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/uy.png" width="50px" height="50px" />&nbsp;
          <p id="p226">Uruguay</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/uz.png" width="50px" height="50px" />&nbsp;
          <p id="p227">Uzbekistan</p><br>
          <hr>
          <h2>V</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/vu.png" width="50px" height="50px" />&nbsp;
          <p id="p228">Vanuatu</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/ve.png" width="50px" height="50px" />&nbsp;
          <p id="p229">Venezuela</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/vn.png" width="50px" height="50px" />&nbsp;
          <p id="p230">Vietnam</p><br>
          <hr>
          <h2>W</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/wf.png" width="50px" height="50px" />&nbsp;
          <p id="p231">Wallis and Futuna</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/eh.png" width="50px" height="50px" />&nbsp;
          <p id="p232">Western Sahara</p><br>
          <hr>
          <h2>Y</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/ye.png" width="50px" height="50px" />&nbsp;
          <p id="p233">Yemen</p><br>
          <hr>
          <h2>Z</h2>
          <img class="flag-align" src="../../../assets/images/country_flags/zm.png" width="50px" height="50px" />&nbsp;
          <p id="p234">Zambia</p><br>
          <img class="flag-align" src="../../../assets/images/country_flags/zw.png" width="50px" height="50px" />&nbsp;
          <p id="p235">Zimbabwe</p><br>
        </div>
      </div>
    </div>
  </div> <!-- END PAGE CONTENT -->
</body>

</html>