
.banner-wrapper {
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .banner-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
}

.search-title {
  margin: 0 0 15px;
  font-family: var(--app-font-family);
  letter-spacing: 1px;
  font-weight: 600;
}


.search-icon-new {
  margin: 0 15px;
  font-size: 1.25em;
}
@media all and (max-width: 768px) {
}

@media all and (max-width: 768px) {
  .search-title {
    margin-top: -5px;
  }
}

.banner-wrapper .banner-content h2 {
  font-size: 3em;
  letter-spacing: 1px;
  max-width: 100%;
  font-weight: 700;
  margin: 0 0 14px;
  color: var(--primary-color);
}


.all-list-button a {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 48px;
  padding: 0 24px;
  margin-bottom: 4em;
}

.quick-form {
  width: 90%;
}

@media all and (max-width: 768px) {
  .quick-form {
    width: 95%;
  }
}


.banner-wrapper .banner-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@media all and (max-width: 768px) {
  .banner-wrapper .banner-bg {
    position: relative;
    aspect-ratio: 16/9;
  }
}

.letters-section {
  padding-top: 3em;
  padding-bottom: 1em;
}

@media all and (max-width: 768px) {
  .letters-section {
    padding-top:2em;
    padding-bottom: 4em;

  }
}

@media (max-width: 768px){
  .call-rates-align {
    padding-left: 20px;
}
}

.top-destinations{
  padding: 5em 0em 3em 0em;
}
@media all and (max-width: 768px) {
  .top-destinations{
    padding: 3em 0em 4em 0em;
  }
}
.flag-top{
  margin-top: -8px;
}
@media all and (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .flag-top{
    margin-top: 0;
  }
}

.country-flags-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto 3em;
  h2 {
    border-bottom: rgba(32, 167, 255, 0.3) solid 1px;
    color: var(--primary-color);
  }
}
.country-flags-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  @media all and (max-width: 768px) {
    padding: 0 15px;
  }
  h2 {
    flex: 1 1 100%;
    margin-bottom: .5em;
  }
  .flag-item {
    cursor: pointer;
    color: black;
    flex: 1 1 100%;
    width: 100%;
    max-width: 25%;
    display: flex;
    align-items: center;
    margin: 0 0 1em;
    transition: .3s;
    @media all and (max-width: 768px) {
      max-width: 50%;
    }
    &:hover {
      color: var(--primary-color);
      img {
        transform: scale(1.2);
        transform-origin: 50% 50%;
      }
      p {
        transform: translateX(10px);
      }
    }
    img {
       margin-right: 10px;
      transition: .3s;
    }
    p {
      margin: 0;
      font-weight: 600;
      line-height: 1.25;
      font-size: .85em;
      transition: .3s;
    }
  }
}

.country-letters {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  .link {
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    margin: 0 4px;
    transition: .3s;
    cursor: pointer;
    &:hover,
    &.s {
      color: var(--primary-color) !important;
      transform: scale(1.5);
    }
  }
  .link_all {
    font-size: 1.3rem;
    color: var(--primary-color) !important;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    margin: 0 4px;
    transition: .3s;
    cursor: pointer;
    &:hover,
    &.s {
      color: var(--primary-color) !important;
      transform: scale(1.5);
    }
  }
}
@media all and (max-width: 768px) {
  .country-letters {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 30px 10px -30px 10px;
  }
}


.content-section {
  padding: 4em 0;
}
.banner-content .banner-content-img {
  height: 100%;
}
.p {
  font-weight: bold !important;
}
.input-full-width {
  display: block;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 4px rgba(32, 167, 255, 0.39);
  width: 100%;
  max-width: 480px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1.5em;
  ._b {
    display: flex !important;
    align-items: center;
    height: 56px;
    color: white;
    background: var(--primary-color);
  }
}
.input-country-name {
  font-weight: 600;
  line-height: 1;
}
.input-rate {
  line-height: 1;
  margin-left: 10px;
}

.input-option-img {
  vertical-align: middle;
  margin-right: 24px;
}

[dir='rtl'] .input-option-img {
  margin-right: 0;
  margin-left: 15px;
}
.not-active{
  display: none;
  }

  .sign-up-today-card-new {
    padding-bottom: 4em;
    margin: 0px 10px 0px 10px;
    .content {
      position: relative;
      z-index: 2;
    }
    .sign-up-today-card-bg {
      position: relative;
      text-align: center;
      padding: 3em;
      @media all and (max-width: 768px) {
          padding: 2em;
      }
      p {
        color: white;
      }
      h6 {
        margin: 0 0 15px;
        color: white;
        font-size: 2em;
        line-height: 1.35;
        font-weight: 400;
        @media all and (max-width: 768px) {
            font-size: 1.5em;
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      @media all and (max-width: 768px) {
          flex-direction: column;
        }
      a {
        display: block;
        margin: 0 10px;
        @media all and (max-width: 768px) {
          margin: 0 0 1em;
  
        }
      }
      @media all and (max-width: 768px) {
        a:last-child {
          margin-bottom: 0;
        }
      }
    }
    }
    .sign-up-today-card-bg::before {
      content: "";
      background: linear-gradient(315deg, rgba(255,255,255,0) 20%,
      rgba(255,255,255,1)), url("../../../assets/images/56.png");
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }
  }
  