<!-- Call description -->
<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="row">
          <div class="col-lg-7 col-m-7 col-12">
            <h1 class="wow fadeInUp page-main-title-black-lg">Call Rates</h1>
            <div class="search-title wow fadeInUpBig">Explore our affordable international rates</div>
            <form class="quick-form form-stroke">
              <div class="position-relative">
                <mat-form-field class="input-full-width" appearance="outline">
                  <input matInput
                         placeholder="Search rates"
                         aria-label="State"
                         [formControl]="countryCtrl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredCountries | async; trackBy: trackItems" [value]="country.name" (click)="countrySelected(null)">
                      <div class="flex align-center">
                        <img alt="" class="input-option-img" [src]="'./assets/images/country_flags/' + country.iso + '.png'" height="44" width="50">
                        <div>
                          <span class="input-country-name">{{country.name}}</span>
                          <small class="input-rate">from {{country.rate | currency}}/minute</small>
                        </div>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                  <span class="_b" matSuffix><i class="fa fa-search search-icon-new"></i></span>
                </mat-form-field>
              </div>
            </form>
            <p class="wow fadeInUp fadeInUpBig">Connect globally without breaking the bank. Vinota offers the most
              competitive international call rates in the market. Stay in touch with your loved ones, friends, and
              colleagues worldwide at an affordable price. Search your country now and experience the convenience
              of our service. Plus, your first international call is FREE. Don’t miss out and connect effortlessly
              with Vinota today.
            </p>
            <a class="wow fadeInUpBig get-start-btn " href="https://hello.vinota.com/register" target="_blank">CONNECT NOW </a>
          </div>
          <div class="col-lg-5 col-m-5 col-12">
            <br>
            <img src="./assets/images/page-first-image/2989843.jpg"
            class="banner-content-img wow fadeInLeft" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Support section -->
<app-support-section id="support_section"></app-support-section>

<!-- Top-destinations slider -->
<app-top-destinations></app-top-destinations>

<!-- Search by full list of country section -->
<section class="letters-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="section-title">
          <div class="page-sub-title-gray-sm">Search By Full List Of Country</div>
        </div>
        <hr>
        <h6 class="s-10 w-500 country-letters">
          <a class="link_all" (click)="filterLetter = ''" >All</a>
          <a class="link" [class.s]="filterLetter === a" (click)="filterLetter = a" *ngFor="let a of alphabet">{{a}}</a>
        </h6>
      </div>
    </div>
  </div>
</section>

<div class="country-flags-wrapper">
  <div class="country-flags-list" *ngFor="let c of countriesList | filterByLetter: filterLetter; trackBy: trackItems">
    <h2>{{c.key}}</h2>
    <div class="flag-item" *ngFor="let x of c.countries"  (click)="countrySelected(x.name)">
      <img [src]="'../../../assets/images/country_flags/' + x.iso + '.png'" alt="" height="40px"  width="40px" />
      <p>{{x.name}}</p>
    </div>
  </div>
</div>
