
<!--- ============================================= section 3  Why our Customer Love us? ============================================= -->
<section class="bg--scroll hero-section">
    <div class="banner-wrapper">
      <span class="wow fadeInUp page-main-title-blue-lg">Security Information</span>
    </div>
  </section>
  <div id="support_section">
    <div [class.not-active]="changeClass">
      <br>
      <br>
      <br>
      <br>
      <div class="support">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-1 ">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/apps">
                    APPs</a></li>
                  <span class="support-description">
                        <p>Explore the Great Features of the Vinota App
                        </p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-2">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> SUPPORT TICKETS</a>
                  </li>
                  <span class="support-description">
                        <p>Visit Support Tickets
                        </p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                    routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                  <span class="support-description">
                        <p>Everything You Need to Know About Vinota</p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/faq"> FAQs
                  </a></li>
                  <span class="support-description">
                        <p>All Your Questions Answered</p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-3">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> ADD CREDIT </a></li>
                  <span class="support-description">
                        <p>Get in Touch with Us
                        </p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                    routerLink="/contact-us"> CONTACT US </a></li>
                  <span class="support-description">
                        <p>Get in touch with us</p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-3">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> FEEDBACK </a></li>
                  <span class="support-description">
                        <p>We love to hear from you</p>
                      </span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content-section">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 text-sim-under-section">
        <div class="flex">
          <div class="flex-item card-section-2">
            <div class="wow fadeInUp">
              <div class="statistic-block">
                <div class="statistic-block-digit">
                  <h3>Servers</h3>
                  <p>Vinota is running on branded servers with multiple redundancy options. Vinota operates on a private cloud connecting USA(Multiple Locations), UK, Ireland, Germany, Singapore, Australia and Hong Kong.</p>
                  <p>All servers are powered by GIGA bit networks and secured by CISCO. We use the highest quality hardware for our servers and all our data runs on multiple SAS drives.</p>
              
                  <h3>System security</h3>
                  <p>We use firewalls and logical access control to protect our servers from unauthorised system access, allowing only trusted operations personnel to manage our systems. We also make sure to use strong configuration standards to harden our servers, and we keep them up-to-date with the latest security patches.</p>
              
                  <h3>Application security</h3>
                  <p>We support strong cryptography for communication over public networks, so that your Vinota Dashboard password, API secret, and contents of your communications may be protected in transit as set forth below.</p>
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th>Type of communication</th>
                          <th>Secure protocols used</th>
                          <th>Other protocols used</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>Between customers and Vinota APIs</td>
                          <td>HTTPS, SMPP-over-SSL, SIPS, SMPP-over-IPsec</td>
                          <td>SMPP, SIP, RTP</td>
                      </tr>
                      <tr>
                          <td>Vinota Dashboard</td>
                          <td>HTTPS</td>
                          <td>_</td>
                      </tr>
                      <tr>
                          <td>Between Vinota and carriers</td>
                          <td>VPN, HTTPS, SMPP-over-IPsec, ENUM-over-IPsec</td>
                          <td>HTTP, SMPP, ENUM, SIP, RTP</td>
                      </tr>
                      </tbody>
                  </table>
              
                  <p>In connection with the provision of our services, Vinota has secured direct relationships with telecommunications carriers and similar services providers around the globe. While many of our connections with these carriers are secure, some of these "last mile" connections are unencrypted. This is beyond our control and depends on the carrier, as some telecommunications providers have legacy infrastructure and do not currently support secure protocols. We opt for secured communication with carriers when available.</p>
                  <p>Vinota is committed to supplying a highly available platform and we do our best to minimize outages. Through use of a content delivery network, geographically redundant data centers, and redundancy within each data center, we ensure failovers exist at several levels to maximize uptime.</p>
              
                  <h3>What are cookies?</h3>
                  <p>A cookie is a small text file that a website saves on your computer or mobile device when you visit that site. Cookies enable the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don't have to keep re-entering them whenever you come back to the site or browse from one page to another.</p>
              
                  <h3>How do we use cookies?</h3>
                  <p>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognise you as an existing user, so it's easier to return to Vinota.com. After you sign in, a persistent cookie stays in your browser and will be read by Vinota.com when you return to the site. Session cookies only last for as long as the session (usually the current visit to a web site or a browser session).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  