<app-header></app-header>
<router-outlet></router-outlet>

<app-floating-bar></app-floating-bar>

<footer id="footer-3" class="pt-30 footer ft-3-ntr">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-2 col-xl-3">
          <div class="footer-links fl-1">
            <h6>GET TO KNOW US</h6>
            <ul class="foo-links clearfix">
              <li><a  routerLink="/about-us">ABOUT US</a></li>
<!--              <li><a>NEWS ROOM</a></li>-->
              <li><a routerLink="/why-vinota" >WHY VINOTA</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2 col-xl-3">
          <div class="footer-links fl-2">
            <h6>RECOURSES</h6>
            <ul class="foo-links clearfix">
              <li><a  routerLink="/apps" href="discover-app.html"> APPS</a></li>
              <li><a  routerLink="/knowledge-base" href="knowledge-base.html">KNOWLEDGE BASE</a></li>
              <li><a routerLink="/faqs">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2 col-xl-3">
          <div class="footer-links fl-3">
            <h6>LEGAL</h6>
            <ul class="foo-links clearfix">
              <li><a href="https://apps.vinota.com/legal-information/terms-&-conditions" target="_blank"> TEAMS AND CONDITIONS</a></li>
              <li><a href="https://apps.vinota.com/legal-information" target="_blank">LEGAL INFORMATION </a></li>
              <li><a href="https://apps.vinota.com/legal-information/privacy-policy" target="_blank">PRIVACY AND POLICY </a></li>
              <li><a href="https://apps.vinota.com/legal-information/security-policy" target="_blank">SECURITY POLICY</a></li>
              <li><a href="https://apps.vinota.com/legal-information" target="_blank">DATA DEPLETION POLICY</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2 col-xl-3">
          <div class="footer-links fl-3">
            <h6>GET IN TOUCH</h6>
            <ul class="foo-links clearfix">
<!--              <li><a>SUPPORT TICKETS</a></li>-->
              <li><a  routerLink="/contact-us">CONTACT US </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <p>Get connected us on social networks</p>
      <div class="sm-links">
        <a href="https://www.linkedin.com/company/vinota-networks/" target="_blank"> <img class="footer-social-img"
                                                                                          alt=""
                                                                                          src="./assets/images/footer-social-icons/icons8-linkedin-48.png" />
        </a>
        <a href="https://www.facebook.com/vinotaApp/" target="_blank"> <img class="footer-social-img"
                                                                            alt=""
                                                                            src="./assets/images/footer-social-icons/icons8-facebook-48.png" />
        </a>
        <a href="https://www.instagram.com/vinotaapp/" target="_blank"> <img class="footer-social-img"
                                                                             alt=""
                                                                             src="./assets/images/footer-social-icons/icons8-instagram-48.png" />
        </a>
        <a href="https://twitter.com/vinotaapp" target="_blank"> <img class="footer-social-img"
                                                                      alt=""
                                                                      src="./assets/images/footer-social-icons/icons8-twitter-48.png" />
        </a>
        <a href="https://www.youtube.com/vinota" target="_blank"> <img class="footer-social-img"
                                                                       alt=""
                                                                       src="./assets/images/footer-social-icons/icons8-youtube-48.png" />
        </a>
      </div>
  </div>
    <!-- <div id="loading" class="loading--theme">
      <div id="loading-center"><span class="loader">
          <div id="loading-center-1"><span class="loaderwe"><img src="images/vnta.png" alt="mobile-logo"
                style="width:100px;height:100px"></span></div>
        </span></div>
    </div> -->
  </footer>
