<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-black-lg">Legal information</span>
  </div>
</section>
<!-- Support section -->
<app-support-section id="support_section"></app-support-section>
<section class="content-section">
  <div class="content-wrapper">
          <div class="row">
            <div class="col-md-5">
                <h3>Company</h3>
                <p><b> Entity name:</b>VINOTA NETWORKS PTY LTD</p>
                <p><b> ABN status:</b>Active from 08 Jan 2016</p>
                <p><b>Entity type: </b> Australian Private Company</p>
                <p><b>ASIC registration : </b> ACN or ARBN</p>
                <p>610 075 093</p>
              </div>
            <div class="col-md-5">
                <h3>Bank Account</h3>
                <p><b>Bank Name :</b> NAB (National Australia Bank)</p>
                <p><b>Entity type:</b> Australian Private Company</p>
                <p><b>Account Name:</b> VINOTA NETWORKS PTY LTD</p>
                <p><b>BSB :</b> 083323</p>
                <p><b>Account NO :</b>924278897</p>
                <p><b>Swift code : </b> NATAAU3302S
                </p>
            </div>
            <div class="col-md-2">
                  <h3>Phone</h3>
                  <p><a href="tel:+12095904435">+12095904435</a></p>
                  <p><a href="tel:+13158329239">+13158329239</a></p>
            </div>
            <div class="col-md-7">
              <h3>Address</h3>
              <p><b> USA :</b>788, Paulson Ave, Clifton, NJ 07011, USA</p>
              <p><b>Australia: </b>2/2, Stradbroke Road, Boronia, Victoria, 3155, Australia</p>
        </div>
      </div>
  </div>
</section>