
<!--- ============================================= section 3  Why our Customer Love us? ============================================= -->
<section class="bg--scroll hero-section">
    <div class="banner-wrapper">
      <span class="wow fadeInUp page-main-title-blue-lg">Legal information</span>
    </div>
  </section>
  <div id="support_section">
    <div [class.not-active]="changeClass">
      <br>
      <br>
      <br>
      <br>
      <div class="support">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-1 ">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/apps">
                    APPs</a></li>
                  <span class="support-description">
                        <p>Explore the Great Features of the Vinota App
                        </p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-2">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> SUPPORT TICKETS</a>
                  </li>
                  <span class="support-description">
                        <p>Visit Support Tickets
                        </p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                    routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                  <span class="support-description">
                        <p>Everything You Need to Know About Vinota</p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/faq"> FAQs
                  </a></li>
                  <span class="support-description">
                        <p>All Your Questions Answered</p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-3">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> ADD CREDIT </a></li>
                  <span class="support-description">
                        <p>Get in Touch with Us
                        </p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                    routerLink="/contact-us"> CONTACT US </a></li>
                  <span class="support-description">
                        <p>Get in touch with us</p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-3">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> FEEDBACK </a></li>
                  <span class="support-description">
                        <p>We love to hear from you</p>
                      </span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content-section">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 text-sim-under-section">
        <div class="flex">
          <div class="flex-item card-section-2">
            <div class="wow fadeInUp">
              <div class="statistic-block">
                <div class="statistic-block-digit">
                    <!-- <h3 > Our company  registration information and legal stuff. Yes we know it's boring
                    </h3> -->
                   
                        <div class="container ">
                        <div class="row">
                            <div class="col-2"><img class="support-icon-sm"
                            src="./assets/images/apple-touch-icon-120x120.jpg" />
                              <span class="col-end">
                                    :
                                  </span>
                            </div>
                            <div class="col-10">
                              <p class="contact-text">
                                Entity name: <b>VINOTA NETWORKS PTY LTD</b>
                              </p>
                              <p class="contact-text">
                                ABN status: Active from 08 Jan 2016
                               </p>
                               <p class="contact-text">
                                Entity type: Australian Private Company
                               </p>
                               <p class="contact-text">
                                ASIC registration - ACN or ARBN
                               </p>
                               <p class="contact-text">
                                610 075 093
                               </p>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-building-columns"></i>
                              &nbsp;Bank Account
                              <span class="col-end">
                                    :
                                  </span>
                            </div>
                            <div class="col-10">
                              <p class="contact-text">
                               Bank Name : NAB (National Australia Bank) 
                              </p>
                              <p class="contact-text">
                                Entity type: Australian Private Company
                               </p>
                               <p class="contact-text">
                                Account Name: VINOTA NETWORKS PTY LTD
                               </p>
                               <p class="contact-text">
                                BSB - 083323
                               </p>
                               <p class="contact-text">
                                Account NO : 924278897
                               </p>
                               <p class="contact-text">
                                Swift code : NATAAU3302S
                               </p>
                            </div>
                          </div>
                        <div class="row">
                          <div class="col-2">
                            <i class="fa-solid fa-phone"></i>
                            &nbsp;Phone
                            <span class="col-end">
                                  :
                                </span>
                          </div>
                          <div class="col-10">
                            <p class="contact-text">
                              <a href="tel:+12095904435">+12095904435</a> &nbsp;
                              <a href="tel:+13158329239">+13158329239</a>
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2">
                            <i class="fa-solid fa-location-dot"></i>
                            &nbsp;
                            Address
                            <span class="col-end">
                                  :
                                </span>
                          </div>
                          <div class="col-10">
                            <div class="country-address-text">USA</div>
                            <p>
                              Address: 788, Paulson Ave, Clifton, NJ 07011, USA
                            </p>
                            <!-- <hr> -->
                            <p class="contact-text">
                            <div class="country-address-text">Australia</div>
                            <p>
                              Address: 2/2, Stradbroke Road, Boronia, Victoria, 3155, Australia
                            </p>
                          </div>
                        </div>
                        <hr>
                      </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  