<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="row">
          <div class="col-lg-7 col-12">
            <div class="wow fadeInUp page-main-title-black-lg">Vinota Apps</div>
            <div class="wow fadeInUpBig">
              <div class="search-title">Connect with Confidence - Install Vinota Today.</div>
              <div class="download-buttons text-center  wow fadeInUp">
                <a href="https://apps.apple.com/us/app/vinota-international-calling/id1103113535" target="_blank"
                  class="img-btn"><img src="./assets/images/new/app-store-dark.svg" alt="" class="download-img" /></a>
                <a href="https://play.google.com/store/apps/details?id=org.vinota
" target="_blank" class="img-btn"> <img src="./assets/images/new/google-play-colored.svg" alt=""
                    class="download-img" /></a>
                <a href="https://appgallery.huawei.com/app/C107407877" target="_blank" class="img-btn"> <img
                    src="./assets/images/new/app-gallery-light.svg" alt="" class="download-img" /></a>
              </div>
              <p>Download the Vinota app now and embark on a transformative connectivity journey that will
                revolutionize how you stay in touch with the world.
              </p>
            </div>
            <a class="wow fadeInUpBig get-start-btn" href="https://hello.vinota.com/register" target="_blank">Get
              Started</a>
          </div>
          <div class="col-lg-5 col-12">
            <div class="sim-video">
              <video loop muted autoplay class="video wow fadeInLeft"
                src="./assets/videos/shutterstock-1056283940.mp4"></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Support section -->
<app-support-section id="support_section"></app-support-section>

<!-- Experience the Freedom to Connect section -->
<section class="freedom-to-connect-section">
  <div class="container">
    <div class="section-title mb-50">
      <h2 class="page-sub-title-gray-md wow fadeInUp">Experience the Freedom to Connect</h2>
    </div>
    <div class="freedom-paragraphs">
      <div class="fbox-wrapper text-center">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <div class="review-card wow fadeInUp">
              <div class="content">
                <div class="fbox-txt">
                  <h3>Test Before You Buy</h3>
                  <p>Discover the exceptional quality of Vinota's calling service with a risk-free trial. Try now and
                    experience its reliability and performance firsthand.</p>
                </div>
              </div>
            </div>
            <div class="review-card wow fadeInUp">
              <div class="content">
                <div class="fbox-txt">
                  <h3>Enjoy Unbeatable International Call Rates</h3>
                  <p>Stay connected globally without breaking the bank. Benefit from our highly competitive
                    international call rates and maximize your connectivity while minimizing costs.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="review-card wow fadeInUp">
              <div class="content">
                <div class="fbox-txt">
                  <h3>Transfer Funds with Ease</h3>
                  <p>Share the benefits of Vinota with your friends and family. Effortlessly transfer funds between
                    users, ensuring seamless communication for everyone.</p>
                </div>

              </div>
            </div>
            <div class="review-card wow fadeInUp">
              <div class="content">
                <div class="fbox-txt">
                  <h3>Secure Payment Options</h3>
                  <p>Experience peace of mind with our secure payment options. Whether you prefer debit/credit cards or
                    PayPal, rest assured that your transactions are safe and protected.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-img">
            <div class="img-col-pd">
              <img src="./assets/images/connect.jpg" alt="" class="wow fadeInLeft" />
              <br>
              <div class="freedom-to-connect-buttons">
                <a class="wow fadeInUpBig get-start-btn" href="https://hello.vinota.com/register" target="_blank">Start
                  Calling Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mobile display with cards  -->
<section class="section-gap">
  <div class="container">
    <div class="fbox-wrapper">
      <div class="row ">
        <div class="col-md-4">
          <div class="wow fadeInUp">
            <div class="content content-right">
              <div class="card ">
                <div class="box-icon ">
                  <a class="box-icon-title" id="a1112" (click)="changeMobileDisplay('signup')">
                    <span>Signup</span>
                    <i class="fa-solid fa-user-pen"></i>
                  </a>
                  <p>How to signup with vinota using the APP</p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon ">
                  <a class="box-icon-title" id="a111" (click)="changeMobileDisplay('verification')">
                    <span>Verify the phone number </span>
                    <i class="fa-solid fa-clipboard-check"></i>
                  </a>
                  <p>Verify your number by Text or Voice to complete the registration</p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon ">
                  <a class="box-icon-title" (click)="changeMobileDisplay('payment')">
                    <span>Make payment</span>
                    <i class="fa-solid fa-money-bills"></i>
                  </a>
                  <p>Recharge your account by debit or credit cards and PayPal
                  </p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon ">
                  <a class="box-icon-title" id="a333" (click)="changeMobileDisplay('check_rates')">
                    <span>Check Rates</span>
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                  </a>
                  <p>Discover incredibly affordable Vinota international call rates.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="box-icon ">
                  <a class="box-icon-title" (click)="changeMobileDisplay('search_contact')">
                    <span>Search contacts</span>
                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                  </a>
                  <p> Search your Contacts to pick a number</p>
                </div>
              </div>
              <div class="card">
                <div class="box-icon ">
                  <a class="box-icon-title" (click)="changeMobileDisplay('credit_transfer')">
                    <span>Credit transfer</span>
                    <i class="fa-solid fa-money-bill-transfer"></i>
                  </a>
                  <p> Transfer credit to your friends</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mobile-view wow fadeInLeft">
            <div class="smart">
              <div id="dettaglio">
                <div id="sensore"></div>
                <div id="microfono"></div>

              </div>
              <div id="acenzione-button"></div>
              <div id="volume-su"></div>
              <div id="volume-giu"></div>
              <div class="schermo-defult"
                [style]="{'background-image': 'url(assets/images/discover/android/' + selectedImage +'.gif)'}">

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="wow fadeInUp">
            <div class="content  content-left">
              <div class="card ">
                <div class="box-icon">

                  <a class="box-icon-title" id="a222" (click)="changeMobileDisplay('dial_number')">
                    <i class="fa-solid fa-phone"></i>
                    <span>Dial a number</span>
                  </a>
                  <p>Simply dial the number with the country code and get in touch with your loved ones</p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon ">
                  <a class="box-icon-title" (click)="changeMobileDisplay('display_call_chargers')">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <span>Display call charges</span>
                  </a>
                  <p>Enable Vinota to display call charges on the screen even before the call</p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon">
                  <a class="box-icon-title" (click)="changeMobileDisplay('payment_history')">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span>Payment history</span>
                  </a>
                  <p>Check your payment history</p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon">
                  <a class="box-icon-title" (click)="changeMobileDisplay('call_history')">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>View call history </span>
                  </a>
                  <p> Review your call history along with the corresponding call durations</p>
                </div>
              </div>
              <div class="card ">
                <div class="box-icon">
                  <a class="box-icon-title" (click)="changeMobileDisplay('integrate_with_default_dialer')">
                    <i class="fa-solid fa-phone-volume"></i>
                    <span>Integrate with default dialer</span>
                  </a>
                  <p>Integrate Vinota with your default Android dialer to avoid opening Vinota for all your
                    international calls</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="sign-up-today-card">
  <div class="container">
    <div class="sign-up-today-card-bg row">
      <div class="col-lg-12 col-12 content">
        <h6 class="wow fadeInUp">Connect with My VINOTA</h6>
        <p class="wow fadeInUpBig">My Vinota is an easily accessible platform for Vinota users where you can
          manage your account effortlessly. Access bills, rates, and call details. Stay in control anytime,
          anywhere.
        </p>
        <a class="link-btn wow fadeInUpBig" href="https://hello.vinota.com/login">Start Calling Now</a>
      </div>
    </div>
  </div>
</section>