
<!--- ============================================= section 3  Why our Customer Love us? ============================================= -->
<section class="bg--scroll hero-section">
    <div class="banner-wrapper">
      <span class="wow fadeInUp page-main-title-blue-lg">Privacy Policy of Vinota</span>
    </div>
  </section>
  <div id="support_section">
    <div [class.not-active]="changeClass">
      <br>
      <br>
      <br>
      <br>
      <div class="support">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-1 ">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/apps">
                    APPs</a></li>
                  <span class="support-description">
                        <p>Explore the Great Features of the Vinota App
                        </p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-2">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> SUPPORT TICKETS</a>
                  </li>
                  <span class="support-description">
                        <p>Visit Support Tickets
                        </p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                    routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                  <span class="support-description">
                        <p>Everything You Need to Know About Vinota</p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/faq"> FAQs
                  </a></li>
                  <span class="support-description">
                        <p>All Your Questions Answered</p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-3">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> ADD CREDIT </a></li>
                  <span class="support-description">
                        <p>Get in Touch with Us
                        </p>
                      </span>
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                    routerLink="/contact-us"> CONTACT US </a></li>
                  <span class="support-description">
                        <p>Get in touch with us</p>
                      </span>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-3">
              <div class="footer-links fl-3">
                <ul class="foo-links clearfix">
                  <li> <img class="support-icon-sm"
                            src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> FEEDBACK </a></li>
                  <span class="support-description">
                        <p>We love to hear from you</p>
                      </span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content-section">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 text-sim-under-section">
        <div class="flex">
          <div class="flex-item card-section-2">
            <div class="wow fadeInUp">
              <div class="statistic-block">
                <div class="statistic-block-digit">
                    <p>Vinota Networks built the Vinota app as a Free app with in-app purchases. This SERVICE is provided by Vinota Networks at a minimal cost and is intended for use as is.</p>
                    <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>
                    <p>If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
                    <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Vinota unless otherwise defined in this Privacy Policy.</p>
    
                    <h3>Information Collection and Use</h3>
                    <p>For a better experience while using our Service, we require you to provide us with personally identifiable information which are described within this privacy policy. The information that you provide will be retained by us and used as described herein.</p>
                    <p>The app does use following third party services that may collect information used to identify you.</p>
                    <p>Links to privacy policy of third-party service providers used by the app</p>
    
                    <ul>
                        <li><span class="star-mark">★</span>&nbsp;Google Play Services</li>
                        <li><span class="star-mark">★</span>&nbsp;Google Analytics for Firebase</li>
                        <li><span class="star-mark">★</span>&nbsp;Firebase Crashlytics</li>
                        <li><span class="star-mark">★</span>&nbsp;Facebook</li>
                        <li><span class="star-mark">★</span>&nbsp;Adjust</li>
                        <li><span class="star-mark">★</span>&nbsp;Log Data</li>
                    </ul>
    
                    <p>We want to inform you that whenever you use our Service, we collect data and information on your phone called Log Data. </p>
                    <p>This Log Data may include information such as the following.</p>
    
                    <ul>
                        <li><span class="star-mark">★</span>&nbsp;Your phone number</li>
                        <li><span class="star-mark">★</span>&nbsp;Mobile operator</li>
                        <li><span class="star-mark">★</span>&nbsp;Device Internet Protocol (IP) address</li>
                        <li><span class="star-mark">★</span>&nbsp;Device name</li>
                        <li><span class="star-mark">★</span>&nbsp;Operating system and version</li>
                        <li><span class="star-mark">★</span>&nbsp;Version of Vinota currently installed</li>
                        <li><span class="star-mark">★</span>&nbsp;Configuration of the Vinota app when utilizing our Service</li>
                        <li><span class="star-mark">★</span>&nbsp;Time and date of your use of the Service</li>
                        <li><span class="star-mark">★</span>&nbsp;Other statistics such as your UUID, device manufacturer, make and model.</li>
                    </ul>
    
                    <p>Connection specific information such as your phone number, mobile operator, IP address etc. will be accessed for the purpose of user identification and customer support and to communicate with you. Call related data such as phone numbers of the calling and receiving party, start time, call duration, call quality etc. will be retained for the purpose of providing better customer support and continuous improvements to our Products and Services.</p>
                    <p>When you install the Vinota App and register, you will be required to provide us with your phone number. Your phone number is used for identification and account verification purposes and becomes your Vinota username as well as your caller identification number. We may also use your phone number to connect with you from our business WhatsApp numbers for the purpose of assisting with the sign up process or providing customer support. At the time of registration, we will also check whether you already have a Vinota account. In addition, we collect your email for the purpose of identification and to send you important updates regarding your account, payments, and our Services.</p>
                    <p>Vinota reads the contents of the activation SMS sent to you by Vinota for the sole purpose of service activation. Vinota will not read the contents of any other messages on your device.</p>
                    <p>No payment related information is stored on Vinota. Payment information such as your bank details and other financial information relevant to your chosen payment method are collected in compliance with PCI DSS standards and used for customer billing, fraud prevention, refunds, bonuses and delivering prizes.</p>
                    <p>With your consent, contacts will be gathered but limited to phone numbers from the Users' device which will be transmitted securely to our servers and will not be shared with any 3rd party. Vinota will sync the contacts on your phone with the contacts list in your Vinota app. Other Vinota users in your contact list will be identified, to and enable you to transfer app credit to them conveniently.</p>
                    <p>However, if you choose not to share your contacts, you will still be able to transfer credit to other Vinota users if you wish to.</p>
                    <p>The microphone on your device needs to be accessed in order to enable outgoing calls.</p>
                    <p>We collect, retain and process your personal data in accordance with the applicable laws and regulations. Data will be uploaded to the following service URLs which are wholly owned by Vinota and not shared with any 3rd party.</p>
    
                    <ul>
                        <li>https://rest.vnserv.com</li>
                        <li>https://rest.vinota.com</li>
                        <li>https://rest2.vnserv.com</li>
                    </ul>
    <h3>Permission Requirements</h3>
        <p>The following permissions are required for full functionality of the Vinota App</p>
               <table class="table table-hover">
            <thead>
            <tr>
                <th>Permission</th>
                <th>Usage of the Permission</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Contacts</td>
                <td>Obtain contacts and use them to identify the existing Tascom contacts, and transfer balances among the existing contacts</td>
            </tr>
            <tr>
                <td>Microphone</td>
                <td>To make and receive calls</td>
            </tr>
            <tr>
                <td>​Nearby devices</td>
                <td>Detect Bluetooth devices.</td>
            </tr>
            <tr>
                <td>Notifications</td>
                <td>Receive notifications (Incoming Calls and other notifications)</td>
            </tr>
            <tr>
                <td>Camera</td>
                <td>Scan QR code to login to MyTascom web portal and for support chat</td>
            </tr><tr>
                <td>Photos and Videos</td>
                <td>To send screen shot or files to support chat</td>
            </tr>
            <tr>
                <td>Music and Audio</td>
                <td>​For ringtone manager</td>
            </tr>
            </tbody>
        </table>
        <h3>Data We Collect</h3>
        <p>We collect the following data from users</p>
        <ul>
            <li>Personal data: This includes information such as name, email address, phone number, and physical address. We collect this information when users create an account, when using the app, when making the payment or contact us for support.</li>
            <li>Non-personal data: This includes information such as IP address, browser type, and operating system. We collect this information when users visit our website or use our App and its provided services.</li>
        </ul>
        <h3>How We Use Data</h3>
        <p>We use the data we collect from users for the following purposes</p>
        <ul>
            <li>To improve our services: We use non-personal data to improve our services, such as tracking website traffic and analysing user behaviour.</li>
            <li>To send marketing messages: We may use personal data to send users marketing messages, such as email newsletters and promotional offers. Users can opt out of receiving marketing messages by clicking on the "unsubscribe" link at the bottom of any marketing message.</li>
            <li>To provide our services: We use personal data to provide our services to users, such as processing payments, sending emails, and providing customer support.</li>
        </ul>
        <h3>How We Protect Data</h3>
        <ul>
            <li>Physical security: We store user information in secure facilities.</li>
            <li>Technical security: We use security measures such as firewalls and encryption to protect user information.</li>
            <li>Employee training: We train our employees on the importance of privacy and security.</li>
        </ul>
        <h3>User Choices</h3>
        <p>Users have the following choices about their personal data:</p>
        <ul>
            <li>Access: Users can access their personal data by logging into their account.</li>
            <li>Correct: Users can correct any inaccurate or incomplete personal data by logging into their account and updating their information.</li>
            <li>Delete: Users can delete their personal data by opening a support ticket.</li>
            <li>Opt out: Users can opt out of receiving marketing messages by clicking on the "unsubscribe" link at the bottom of any marketing message.</li>
        </ul>
     <h3>Table of Data Collected</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Type of Data Collected</th>
                <th>Purpose of the Collection</th>
                <th>Whether data will be shared and if shared with whom</th>
                <th>Weather user can access</th>
                <th>Method of editing the data</th>
                <th>How user to delete data</th>
                <th>Cecurity measures taken to protect the data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Phone Number</td>
                <td>Registration</td>
                <td>Google Ads & Facebook Ads</td>
                <td>Yes</td>
                <td>from app</td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>Registration</td>
                <td>Payment Processor, Google Ads & Facebook Ads</td>
                <td>Yes</td>
                <td>from app</td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>IP Address</td>
                <td>Registration</td>
                <td>Payment Processor</td>
                <td>Yes</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Registration</td>
                <td>Payment Processing</td>
                <td>Yes</td>
                <td>from app </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>SMS</td>
                <td>To read the OTP sent for verification</td>
                <td>Data is not shared</td>
                <td>Yes</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>does not send details out of the app </td>
            </tr>
            <tr>
                <td>Contacts</td>
                <td>To use the balancer tranfer fucntion with existing contact</td>
                <td>Data is not shared</td>
                <td>Yes</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit</td>
            </tr>
            <tr>
                <td>Credit card details</td>
                <td>Payment Processing</td>
                <td>Payment Processor</td>
                <td>No</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit ,  does not store</td>
            </tr>
            <tr>
                <td>Address given with Credit Card</td>
                <td>Payment Processing</td>
                <td>Payment Processor</td>
                <td>No</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit ,  does not store</td>
            </tr>
            <tr>
                <td>Device</td>
                <td>Manage fruad </td>
                <td>Data is not shared</td>
                <td>No</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>Device ID</td>
                <td>Payment Processing</td>
                <td>Payment Processor</td>
                <td>No</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>Calls taken from APP</td>
                <td>To show the call history to the use </td>
                <td>Payment Processor</td>
                <td>No</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , stored encrypted , firewall protected </td>
            </tr>
            <tr>
                <td>Messages sent from APP</td>
                <td>To show the SMS history to user
                </td>
                <td>Payment Processor</td>
                <td>No</td>
                <td>not allowed </td>
                <td>opening a support ticket</td>
                <td>encrypted in transit , does not store </td>
            </tr>
            </tbody>
        </table>
                    <h3>Cookies</h3>
                    <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>
                    <p>This Service does not use these "cookies" explicitly. However, the app may use third party code and libraries that use "cookies" to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service. We use cookies to personalise and optimise our Services, promotional content and advertising to you. Vinota, as well as third parties that provide communication, advertising, or other means, may use cookies, mobile device identifiers and other technologies to automatically collect information through the Product, the Service, and the Site.</p>
    
                    <h3>Service Providers</h3>
    
                    <p>We may employ third-party companies and individuals due to the following reasons:</p>
                    <ul>
                        <li>To facilitate our Service;</li>
                        <li>To provide the Service on our behalf;</li>
                        <li>To perform Service-related services; or</li>
                        <li>To assist us in analyzing how our Service is used.</li>
                    </ul>
                    <p>We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
    
                    <h3>Security</h3>
                    <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
                    <p>Information collected within the European Union/European Economic Area (EU/EEA) may be transferred to and processed in a country outside of the EU/EEA, which may not provide the same level of protection for personal data as within the EU/EEA.</p>
                    <p>Transfer and processing of personal data outside the EU/EEA can take place provided there is a legal ground, i.e. legal requirement conclusion or performance of an agreement or client's consent and appropriate safeguards are in place.</p>
    
    
                    <h3>Links to Other Sites</h3>
                    <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services. Our Privacy Policy applies solely to personal data that we receive directly from you through our app, website and other communication channels described herein.</p>
                    <p>Vinota uses well reputed third-party payment processors such as PayPal with strong organizational and technical measures to protect your personal information in compliance with international laws. Vinota is not liable or responsible for such third-party transactions.</p>
    
                    <h3>Children's Privacy</h3>
    
                    <p>These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13 years of age. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>
    
                    <h3>Changes to This Privacy Policy</h3>
                    <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    
                    <p>This policy is effective as of 24th October 2021.</p>
    
                    <h3>Contact Us</h3>
                    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at Support@vinota.com</p>
    
            <table style="border: none; font-family: Courier, sans-serif; font-size: .9em">
                <tr>
                    <td colspan="2"><strong>Vinota Networks Pty Ltd.</strong></td>
                </tr>
                <tr>
                    <td colspan="2">2/167 Blackburn Road,Mount Waverley, Victoria 3149, Australia</td>
                </tr>
                <tr>
                    <td>ABN:</td>
                    <td>80 610 075 093</td>
                </tr>
                <tr>
                    <td>Tel:</td>
                    <td>+61399880545</td>
                </tr>
                <tr>
                    <td></td>
                    <td>+61283180332</td>
                </tr>
            </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  