<!--- ============================================= CONTACT US DESCRIPTION  ============================================= -->

<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="row">
          <div class="col-lg-7 col-12">
            <div class="wow fadeInUp page-main-title-black-lg">Contact us </div>
            <p class="wow fadeInUpBig">Get in Touch with Vinota - Your Connection to Seamless Communication.
            </p>
            <p class="wow fadeInUpBig">At Vinota, we value your feedback, queries, and concerns. Our dedicated
              team is here to provide you with exceptional support and ensure that your communication experience
              remains unmatched. Whether you're an existing Vinota user or considering joining our community,
              we're just a message away.

            </p>
            <a class="wow fadeInUpBig  get-start-btn" href="https://hello.vinota.com/login" target="_blank">Get Started</a>
          </div>
          <div class="col-lg-5 col-m-5 col-12"><img src="./assets/images/page-first-image/2989570.jpg"
              class="banner-content-img wow fadeInLeft" /></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-info-card">
  <div class="container ">
    <div class="row">
      <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
          <path
            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
        </svg>&nbsp;
        Email
        <span class="col-end">
          :
        </span>
      </div>
      <div class="col-10">
        <p class="contact-text">
          <a href="mailto: support@vinota.com
                ">support@vinota.com
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
          <path
            d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z" />
        </svg>
        &nbsp;Phone
        <span class="col-end">
          :
        </span>
      </div>
      <div class="col-10">
        <p class="contact-text">
          <a href="tel:+12095904435">+12095904435</a> &nbsp;
          <a href="tel:+13158329239">+13158329239</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512">
          <path
            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
        </svg>
        &nbsp;
        Address
        <span class="col-end">
          :
        </span>
      </div>
      <div class="col-10">
        <h5 >USA</h5>
        <p>
          Address: 788, Paulson Ave, Clifton, NJ 07011, USA
        </p>
        <!-- <hr> -->
        <p class="contact-text">
        <h5>Australia</h5>
        <p>
          Address: 2/2, Stradbroke Road, Boronia, Victoria, 3155, Australia
        </p>
      </div>
    </div>
    <hr>
    <div class=" page-sub-title-gray-sm wow fadeInUp ">
      Get connected us on social networks
    </div>
    <div class="social-media-images wow fadeInUp">
      <div class="d-flex justify-content-center">
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/vinotacalls?mibextid=ZbWKwL"
            target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://twitter.com/vinotaapp" target="_blank"><i
              class="fab fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/company/vinota-networks/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
          <a class="social-button youtube" href="https://www.youtube.com/vinota" target="_blank"><i
              class="fab fa-youtube"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/vinotaapp/" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUpBig description-section">
      <p>Our customer support representatives are available to assist you with any questions or issues you may have.
        From troubleshooting technical difficulties to providing information about our services, we're committed to
        delivering prompt and reliable assistance. Reach out to us via email or give us a call, and our
        knowledgeable team will be more than happy to help.
      </p>
      <p>For general inquiries or more information about Vinota, you can also visit our FAQ page or browse our
        website for detailed product features and pricing.
      </p>
      <p>Remember, at Vinota, your satisfaction is our priority. Contact us today and let us be your trusted partner
        in global connectivity.
      </p>
    </div>
    <div class="d-flex justify-content-center"><a class="wow fadeInUpBig get-start-btn">Make your First Call</a></div>
  </div>
</section>

<!--- ============================================= HD VOICE CARD  ============================================= -->

<section class="hd-voice-row">
  <div class="hd-row-background ">
    <div class="container ">
      <div class="row">
        <div class="col-12">
          <div class="hd-voice-text wow fadeInUp">Vinota - Experience Seamless Global Communication
          </div>
        </div>
      </div>
    </div>
  </div>
</section>