<!doctype html>
<html lang="en">

<body>
  <!--============================================= HEADER ============================================= -->
  <div id="page" class="page">
    <header id="header" class="main-header white-scroll">
      <div class="header-wrapper flex align-center justify-content-between">
        <div class="logo">
          <a routerLink="/index"><img src="./assets/images/Vinota-Logo-New-white12345.png" /></a>
        </div>
        <span class="nav-icon">
          <a></a>
        </span>
        <nav class="nav-bar">
          <a routerLink="/index">Home</a>
          <a routerLink="/call-rates">Rates</a>
          <a routerLink="/apps">Apps</a>
          <a type="button" (click)="navigateToSection('support_section')">Support</a>
          <a href="https://hello.vinota.com/register">Join</a>
          <a href="https://hello.vinota.com/login" style="border-radius: 7px;
    background: #04AA6D;
    color: white;">Top-up</a>
        </nav>
        <div></div>
      </div>
      <a href="https://hello.vinota.com/login" class="login-button">Login</a>
    </header>

    <!--- ============================================= CONTACT US DESCRIPTION  ============================================= -->
    <section class="bg--scroll hero-section">
      <div class="banner-wrapper">
        <div class="banner-content">
          <div class="content">
            <div class="lg-screen">
              <div class="row">
                <div class="col-7">
                  <span class="wow fadeInUp page-main-title-blue-lg">Contact us </span>
                  <p class="wow fadeInUpBig">Get in Touch with Vinota - Your Connection to Seamless Communication.
                  </p>
                  <p class="wow fadeInUpBig">At Vinota, we value your feedback, queries, and concerns. Our dedicated
                    team is here to provide you with exceptional support and ensure that your communication experience
                    remains unmatched. Whether you're an existing Vinota user or considering joining our community,
                    we're just a message away.

                  </p>
                  <h2 class="wow fadeInLeft"></h2>
                  <a class="wow fadeInUpBig">Get Started</a>
                </div>
                <div class="col-5"><img
                    src="./assets/images/page-first-image/2989570.jpg"
                    class="banner-content-img wow fadeInLeft" /></div>
              </div>
            </div>
            <div class="sm-screen">
              <div class="col-12">
                <span class="wow fadeInUp page-main-title-blue-lg">Contact us</span>
                <p class="wow fadeInUpBig">Get in Touch with Vinota - Your Connection to Seamless Communication.
                </p>
                <p class="wow fadeInUpBig">At Vinota, we value your feedback, queries, and concerns. Our dedicated team
                  is here to provide you with exceptional support and ensure that your communication experience remains
                  unmatched. Whether you're an existing Vinota user or considering joining our community, we're just a
                  message away.
                </p>
                <h2 class="wow fadeInLeft"></h2>
                <a class="wow fadeInUpBig">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="support_section">
      <div [class.not-active]="changeClass">
        <br>
        <br>
        <br>
        <br>
        <div class="support">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-1 ">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/apps">
                        APPs</a></li>
                    <span class="support-description">
                      <p>Explore the Great Features of the Vinota App
                      </p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-2">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> SUPPORT TICKETS</a>
                    </li>
                    <span class="support-description">
                      <p>Visit Support Tickets
                      </p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                        routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                    <span class="support-description">
                      <p>Everything You Need to Know About Vinota</p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/faq"> FAQs
                      </a></li>
                    <span class="support-description">
                      <p>All Your Questions Answered</p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-3">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> ADD CREDIT </a></li>
                    <span class="support-description">
                      <p>Get in Touch with Us
                      </p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                        routerLink="/contact-us"> CONTACT US </a></li>
                    <span class="support-description">
                      <p>Get in touch with us</p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-3">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> FEEDBACK </a></li>
                    <span class="support-description">
                      <p>We love to hear from you</p>
                    </span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- ============================================= section 2  ============================================= -->

    <!-- <section class="about-us-list-card wow fadeInUp">
      <div class="container hd-section-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-1  about-us-hidden-col">
            <img src="./images/09090.jpg" style="width: 120px;" />
          </div>
          <div class="col-sm-12 col-lg-10 col-xl-10">
            <div class="about-us-list-card-bg">
              <div class="content">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <div class="phone text-box">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
                          viewBox="0 0 512 512">
                          <path
                            d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z" />
                        </svg>
                        <p class="contact-text">
                          <a href="tel:+12095904435">+12095904435</a> &nbsp;
                          <a href="tel:+13158329239">+13158329239</a>
                        </p>
                      </div>
                      <div class="address text-box">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
                          viewBox="0 0 512 512">
                          <style>
                            svg {
                              fill: #4ac8f2
                            }
                          </style>
                          <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                        <p class="contact-text">
                          <a href="mailto: support@vinota.com
                          ">support@vinota.com
                          </a>
                        </p>
                      </div>
                      <div class="mail text-box">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
                          viewBox="0 0 384 512">
                          <path
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                        </svg>
                        <div class="country-address-text">USA</div>
                        Address: 788, Paulson Ave, Clifton, NJ 07011, USA
                        <hr>
                        </p>
                        <p class="contact-text">

                        <div class="country-address-text">Australia</div>
                        Address: 2/2, Stradbroke Road, Boronia, Victoria, 3155, Australia

                        </p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <p>Our customer support representatives are available to assist you with any questions or issues
                        you may have. From troubleshooting technical difficulties to providing information about our
                        services, we're committed to delivering prompt and reliable assistance. Reach out to us via
                        email or give us a call, and our knowledgeable team will be more than happy to help.
                        For general inquiries or more information about Vinota, you can also visit our FAQ page or
                        browse our website for detailed product features and pricing.
                        Remember, at Vinota, your satisfaction is our priority. Contact us today and let us be your
                        trusted partner in global connectivity.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 about-us-hidden-col"><img src="./images/33-removebg-preview.png"
              style="width: 110px;margin-bottom:70px;" />
            <img src="./images/aboutus.png" style="width: 110px;margin-bottom: -230px;" />
          </div>
        </div>
      </div>
    </section> -->


    <section class="contact-info-card">
      <div class="container ">
        <div class="row">
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
              <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
            </svg>&nbsp;
            Email
            <span class="col-end">
              :
            </span>
          </div>
          <div class="col-10">
            <p class="contact-text">
              <a href="mailto: support@vinota.com
                ">support@vinota.com
              </a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
              <path
                d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z" />
            </svg>
            &nbsp;Phone
            <span class="col-end">
              :
            </span>
          </div>
          <div class="col-10">
            <p class="contact-text">
              <a href="tel:+12095904435">+12095904435</a> &nbsp;
              <a href="tel:+13158329239">+13158329239</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512">
              <path
                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
            </svg>
            &nbsp;
            Address
            <span class="col-end">
              :
            </span>
          </div>
          <div class="col-10">
            <div class="country-address-text">USA</div>
            <p>
              Address: 788, Paulson Ave, Clifton, NJ 07011, USA
            </p>
            <!-- <hr> -->
            <p class="contact-text">
            <div class="country-address-text">Australia</div>
            <p>
              Address: 2/2, Stradbroke Road, Boronia, Victoria, 3155, Australia
            </p>
          </div>
        </div>
        <hr>
        <div class=" page-sub-title-gray-sm wow fadeInUp ">
          Get connected us on social networks
        </div>
        <div class="social-media-images wow fadeInUp">
          <div class="d-flex justify-content-center">
            <div class="rounded-social-buttons">
              <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                  class="fab fa-facebook-f"></i></a>
              <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i
                  class="fab fa-twitter"></i></a>
              <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                  class="fab fa-linkedin"></i></a>
              <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i
                  class="fab fa-youtube"></i></a>
              <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                  class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUpBig description-section">
          <p>Our customer support representatives are available to assist you with any questions or issues you may have.
            From troubleshooting technical difficulties to providing information about our services, we're committed to
            delivering prompt and reliable assistance. Reach out to us via email or give us a call, and our
            knowledgeable team will be more than happy to help.
          </p>
          <p>For general inquiries or more information about Vinota, you can also visit our FAQ page or browse our
            website for detailed product features and pricing.
          </p>
          <p>Remember, at Vinota, your satisfaction is our priority. Contact us today and let us be your trusted partner
            in global connectivity.

         
        </p><div class="free-call-btn"> <a class="wow fadeInUpBig">Make your First Call</a></div>
        </div>
      </div>
    </section>

    <!--- ============================================= HD VOICE CARD  ============================================= -->

    <section class="hd-voice-row">
      <div class="hd-row-background ">
        <div class="container ">
          <div class="row">
            <div class="col-12">
              <div class="hd-voice-text wow fadeInUp">Vinota - Experience Seamless Global Communication
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--- ============================================= ONE CALL CARD ============================================= -->

    <!-- <section class="one-call-card">
      <div class="container">
        <div class="one-call-card-bg">
          <div class="content">
            <h2 class="s-46 ">
              REMEMBER,AT <span style="color:#3399cc">VINOTA</span>, YOUR SATISFACTIONIS OUR <span
                style="color:rgb(21, 189, 91)">PRIORITY</span>.CONNECT US TODAY AND LET US BE YOUR <span
                style="color:rgb(21, 189, 91)">TRUSTED</span> PARTNER IN GLOBAL CONNECTIVITY.</h2>
          </div>
        </div>
      </div>
    </section> -->

  </div> <!-- END PAGE CONTENT -->


  <!--============================================= EXTERNAL SCRIPTS ============================================= -->


  <script src="js/jquery-3.7.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/pricing-toggle.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/request-form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/lunar.js"></script>
  <script src="js/wow.js"></script>
  <!-- Custom Script -->
  <script src="js/custom.js"></script>
</body>

</html>