.hero-section {
  padding-top: 8em;
  padding-bottom: 0em;
}

@media all and (max-width: 768px) {
  .hero-section {
    padding-top: 0em;
    padding-bottom: 3em;
  }
}

.contact-info-card {
  padding-top: 3em;
  padding-bottom: 0em;
}

@media all and (max-width: 768px) {
  .contact-info-card {
    padding-top: 4em;
    padding-bottom: 0em;
  }
}

.banner-wrapper {
  position: relative;
}

* {
  box-sizing: border-box
}

img {
  vertical-align: middle;
}

@media all and (max-width: 768px) {
  .banner-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
}
.banner-wrapper .banner-content h2,
.banner-wrappern .banner-content p {
  margin: 0;
  line-height: 1.2em;
  display: block;
}


.banner-wrapper .banner-content p {
  margin-bottom: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  /* opacity: 0.7; */
}



.contact-info-card .description-section a,
.banner-wrapper .banner-content a {
  display: inline-block;
  background: var(--secondary-color);
  color: white;
  border-radius: 8px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 48px;
  width: auto;
  padding: 0 24px;
}

@media all and (max-width: 768px) {
  .banner-wrapper .banner-bg {
    position: relative;
    aspect-ratio: 16/9;
  }

}

.free-call-btn {
  text-align: center;
  margin-top: 10px;
}

.content-section {
  /* padding-top: 4em; */
  padding-bottom: 2em;

}

.hd-voice-row {
  padding-top: 8em;
  padding-bottom: 4em;
}

svg {
  fill: #4ac8f2
}

.col-end {
  float: right;
}

.social-media-images {
  margin-bottom: 1.5em;
}

.description-section p {
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.2em
}

.contact-text {
  color: #6c757d;
  ;
}