
<div class="support-box" [class.opened]="show_hide_suport_div"  id="support_section">
  <div class="container">
  <div class="support-box-content">
    <div class="row">
      <div class="col-sm-12 col-lg-2 col-xl-3">
        <div class="footer-links fl-1 ">
          <ul class="foo-links clearfix">
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                routerLink="/apps">
                APPs</a></li>
            <span class="support-description">
              <p>Explore the Great Features of the Vinota App
              </p>
            </span>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2 col-xl-3">
        <div class="footer-links fl-2">
          <ul class="foo-links clearfix">
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a>
                SUPPORT TICKETS</a>
            </li>
            <span class="support-description">
              <p>Visit Support Tickets
              </p>
            </span>
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
            <span class="support-description">
              <p>Everything You Need to Know About Vinota</p>
            </span>
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                routerLink="/vinota-frquently-asked-questions-faq"> FAQs
              </a></li>
            <span class="support-description">
              <p>All Your Questions Answered</p>
            </span>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2 col-xl-3">
        <div class="footer-links fl-3">
          <ul class="foo-links clearfix">
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a>
                ADD CREDIT </a></li>
            <span class="support-description">
              <p>Get in Touch with Us
              </p>
            </span>
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                routerLink="/contact-us"> CONTACT US </a></li>
            <span class="support-description">
              <p>Get in touch with us</p>
            </span>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2 col-xl-3">
        <div class="footer-links fl-3">
          <ul class="foo-links clearfix">
            <li> <img class="support-icon-sm" src="./assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a>
                FEEDBACK </a></li>
            <span class="support-description">
              <p>We love to hear from you</p>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
