@media (max-width: 768px) {
  .hero-section {
    padding-top: 6em;
    padding-bottom: 0em;
  }
}
.features-section {
  margin-bottom: 0em;
  margin-top: 2em;
}

@media all and (max-width: 768px) {
  .features-section {
    margin-bottom: 0em;
    margin-top: 4em;
  }
}
.side-img img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  object-fit: contain;
}
.content-section {
  padding-top: 5em;
  padding-bottom: 4em;
}

@media all and (max-width: 768px) {
  .content-section {
    padding-top: 0em;
    padding-bottom: 2em;
  }
}

.unmatched-quality-section {
  padding-top: 7em;
  padding-bottom: 0em;
}
@media all and (max-width: 768px) {
  .unmatched-quality-section {
    padding-top: 0em;
    padding-bottom: 2em;
  }
}

.icon-img-sm {
  object-fit: contain;
  height: 50px;
  width: 55px;
}

.icon-img-lg {
  object-fit: contain;
  height: 60px;
  width: 55px;
}

.fbox-txt-end {
  text-align: end;
}

.fbox-txt-start {
  text-align: start;
}
