
<!-- About us descrption -->
<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="row">
          <div class="col-lg-7 col-m-7 col-12">
            <div class="wow fadeInUp page-main-title-black-lg"> About us</div>
            <p class="wow fadeInUp fadeInUpBig">Welcome to Vinota, a leading internet telephony
              service provider
              that
              revolutionizes global communication. Since our inception in 2008, we have been
              committed to offering
              affordable international calls and connecting people worldwide. With our
              user-friendly app available
              for Android and iPhone, Vinota enables users to make affordable and high-quality
              calls to any mobile
              or landline number across the globe. Our unique design and simplicity have
              earned us a reputation as
              the preferred choice for many users, who regard Vinota as the best calling
              experience they've ever
              had.
            </p>
            <div class="download-buttons text-center  wow fadeInUp">
             <a href="https://apps.apple.com/us/app/vinota-international-calling/id1103113535" target="_blank" class="img-btn"><img src="./assets/images/new/app-store-dark.svg" alt="" class="download-img" /></a>
                <a href="https://play.google.com/store/apps/details?id=org.vinota
" target="_blank" class="img-btn"> <img src="./assets/images/new/google-play-colored.svg" alt="" class="download-img" /></a>
                <a href="https://appgallery.huawei.com/app/C107407877" target="_blank" class="img-btn"> <img src="./assets/images/new/app-gallery-light.svg" alt="" class="download-img" /></a>
              </div>
          </div>
          <div class="col-lg-5 col-m-5 col-12">
            <br><img src="./assets/images/page-first-image/2989843.jpg"
                       class="banner-content-img wow fadeInLeft" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Support section -->
<app-support-section id="support_section"></app-support-section>

<section class="features-section lg-screen">
  <div class="container">
    <div class="fbox-wrapper ">
      <div class="row d-flex align-items-center mb-30">
        <div class="col-md-8">
          <div class="fbox-txt-end wow fadeInUp">
            <h6 class="page-sub-title-blue-sm">Our Journey </h6>
            <p>Vinota was born out of a vision to provide an alternative to traditional calling
              cards in the UK.
              In 2008, we launched our services, aiming to disrupt the market and offer
              cost-effective solutions
              for international calling. As mobile VOIP technology advanced, we embraced the
              opportunity and
              introduced the Vinota mobile app in 2015. Since then, we have continued to
              expand our reach and
              serve customers globally. Vinota is a registered business in Australia and the
              USA.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow fadeInUp side-img">
            <img class=""
                 src="./assets/images/about-us-images-blue/162285824-internship-abstract-concept-vector-illustration.jpg" />
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center mb-30">
        <div class="col-md-4">
          <div class=" wow fadeInUp side-img">
            <img
              src="./assets/images/about-us-images-blue/istockphoto-1324560114-612x612.jpg" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="fbox-txt-start wow fadeInUp">
            <div class="">
              <h6 class="page-sub-title-blue-sm">Our Mission </h6>
              <p>At Vinota, our mission is simple yet powerful: to provide seamless global
                connectivity that brings
                people closer together. We believe that everyone deserves reliable,
                affordable, and crystal-clear
                communication, regardless of geographical location. Through our sincere
                commitment to innovation and
                customer satisfaction, we aim to empower individuals, families, and
                businesses to stay connected
                effortlessly.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center mb-30">
        <div class="col-md-8">
          <div class="fbox-txt-end  wow fadeInUp">
            <h6 class="page-sub-title-blue-sm">Our Commitment to Security and Privacy </h6>
            <p>We implement stringent measures to safeguard our users' personal information and
              ensure secure
              transactions. Vinota is committed to maintaining the highest standards of data
              protection, giving our
              users peace of mind when using our services.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow fadeInUp side-img">
            <img
              src="./assets/images/about-us-images-blue/istockphoto-1316316707-612x612.jpg" />
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center mb-30">
        <div class="col-md-4">
          <div class="wow fadeInUp side-img">
            <img
              src="./assets/images/about-us-images-blue/162285824-internship-abstract-concept-vector-illustration.jpg" />
          </div>
        </div>
        <div class="col-md-8">
          <div class=" wow fadeInUp fbox-txt-start">
            <h6 class="page-sub-title-blue-sm">Our Support
            </h6>
            <p>We implement stringent measures to safeguard our users' personal information and
              ensure secure
              transactions. Vinota is committed to maintaining the highest standards of data
              protection, giving our
              users peace of mind when using our services.
            </p>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-md-8">
          <div class="fbox-txt-end wow fadeInUp">
            <h6 class="page-sub-title-blue-sm">Join the Vinota Community </h6>
            <p>We invite you to join the growing Vinota community and experience the power of
              seamless connectivity.
              Connect with like-minded individuals, stay in touch with loved ones, and unlock
              a world of limitless
              communication possibilities. Together, let's redefine how the world connects.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow fadeInUp side-img">
            <img
              src="./assets/images/about-us-images-blue/istockphoto-1305286049-612x612.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- MOBILE VIEW -->
<section class="features-section sm-screen">
  <div class="container">
    <div class="row d-flex align-items-center mb-30">
      <div class="col-12">
        <div class="review-card-sm">
          <div class="content">
            <h6 class="page-sub-title-blue-sm">Our Journey </h6>
            <img class="sim-card-img"
                 src="./assets/images/about-us-images-blue/162285824-internship-abstract-concept-vector-illustration.jpg" />
            <p>Vinota was born out of a vision to provide an alternative to traditional calling
              cards in the UK.
              In 2008, we launched our services, aiming to disrupt the market and offer
              cost-effective solutions
              for international calling. As mobile VOIP technology advanced, we embraced the
              opportunity and
              introduced the Vinota mobile app in 2015. Since then, we have continued to expand
              our reach and
              serve customers globally. Vinota is a registered business in Australia and the USA.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center mb-30">
      <div class="col-12">
        <div class="review-card-sm">
          <div class="content">
            <h6 class="page-sub-title-blue-sm">Our mission </h6>
            <img class="sim-card-img"
                 src="./assets/images/about-us-images-blue/istockphoto-1324560114-612x612.jpg" />
            <p>At Vinota, our mission is simple yet powerful: to provide seamless global
              connectivity that brings
              people closer together. We believe that everyone deserves reliable, affordable, and
              crystal-clear
              communication, regardless of geographical location. Through our sincere commitment
              to innovation and
              customer satisfaction, we aim to empower individuals, families, and businesses to
              stay connected
              effortlessly.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center mb-30">
      <div class="col-12">
        <div class="review-card-sm">
          <div class="content">
            <h6 class="page-sub-title-blue-sm">Our commitment to security and privacy </h6>
            <img class="sim-card-img"
                 src="./assets/images/about-us-images-blue/istockphoto-1316316707-612x612.jpg" />
            <p>We implement stringent measures to safeguard our users' personal information and
              ensure secure
              transactions. Vinota is committed to maintaining the highest standards of data
              protection, giving our
              users peace of mind when using our services.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center mb-30">
      <div class="col-12">
        <div class="review-card-sm">
          <div class="content">
            <h6 class="page-sub-title-blue-sm">Our support</h6>
            <img class="sim-card-img"
                 src="./assets/images/about-us-images-blue/162285824-internship-abstract-concept-vector-illustration.jpg" />
            <p>We implement stringent measures to safeguard our users' personal information and
              ensure secure
              transactions. Vinota is committed to maintaining the highest standards of data
              protection, giving our
              users peace of mind when using our services.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center mb-30">
      <div class="col-12">
        <div class="review-card-sm">
          <div class="content">
            <h6 class="page-sub-title-blue-sm">Join the vinota community </h6>
            <img class="sim-card-img"
                 src="./assets/images/about-us-images-blue/istockphoto-1305286049-612x612.jpg" />
            <p>We invite you to join the growing Vinota community and experience the power of
              seamless connectivity.
              Connect with like-minded individuals, stay in touch with loved ones, and unlock a
              world of limitless
              communication possibilities. Together, let's redefine how the world connects.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Unmatched Quality of Vinota section -->
<section  class="unmatched-quality-section division">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9">
        <div class="section-title mb-50">
          <h2 class="page-sub-title-gray-md wow fadeInUp">Unmatched Quality of Vinota</h2>
        </div>
      </div>
    </div>
    <div class="fbox-wrapper">
      <div class="row row-cols-1 row-cols-md-2 rows-3">
        <div class="col">
          <div class="fbox-11 fb-1 wow fadeInUp">
            <div class="fbox-ico-wrap">
              <div class="shape-ico color--theme">
                <img class="icon-img-sm"
                     src="./assets/images/images-sm/icons8-arrows-to-center-64.png" />
              </div>
            </div>
            <div class="fbox-txt">
              <h6 class="page-sub-title-blue-xsm">Direct-to-Carrier</h6>
              <p> With our
                direct relationships with multiple carriers worldwide, we have in-depth
                knowledge of their rules
                and
                regulations. This enables us to maintain compliance and establish the
                fastest and most secure
                connection routes for your calls.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="fbox-11 fb-2 wow fadeInUp">
            <div class="fbox-ico-wrap">
              <div class="shape-ico color--theme">
                <img class="icon-img-sm"
                     src="./assets/images/images-sm/icons8-network-80.png" />
              </div>
            </div>
            <div class="fbox-txt">
              <h6 class="page-sub-title-blue-xsm">Adaptive Routing </h6>
              <p> Our
                groundbreaking Adaptive Routing technology ensures that your calls are
                delivered through the
                optimal
                path, avoiding any potential delays or queues. We constantly monitor carrier
                traffic to select the
                fastest and most reliable alternative routes, ensuring uninterrupted
                connectivity.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="fbox-11 fb-3 wow fadeInUp">
            <div class="fbox-ico-wrap">
              <div class="shape-ico color--theme">
                <img class="icon-img-sm"
                     src="./assets/images/images-sm/icons8-voice-id-50.png" />
              </div>
            </div>
            <div class="fbox-txt">
              <h6 class="page-sub-title-blue-xsm">Strong Connectivity </h6>
              <p> Users
                can say goodbye to the frustration of call drops. Our robust infrastructure
                and strong
                connectivity
                contribute to providing the best possible signal strength on mobile VOIP
                calls.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="fbox-11 fb-4 wow fadeInUp">
            <div class="fbox-ico-wrap">
              <div class="shape-ico color--theme">
                <img class="icon-img-lg"
                     src="./assets/images/images-sm/icons8-magic-crystal-ball-80.png" />
              </div>
            </div>
            <div class="fbox-txt">
              <h6 class="page-sub-title-blue-xsm">Crystal Clear Call Quality</h6>
              <p> We make sure that every call is crystal clear and free from disruptions. Unlike cheap call
                quality experiences, Vinota guarantees premium call quality every time you
                make a call. Never
                again
                struggle to recognize your friend's voice or deal with distorted audio.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our values cad row -->
<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9">
        <div class="section-title mb-50">
          <h2 class="page-sub-title-gray-md wow fadeInUp">Our Values</h2>
        </div>
      </div>
    </div>
    <div class="fbox-wrapper text-center">
      <div class="row ">
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <img class="sim-card-img"
                       src="./assets/images/about-us-images-blue/cus-stis.jpg" />
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Customer-Centricity</h6>
              <div class="fbox-txt">
                <p> Our
                  customers are at the heart of everything we do. We prioritize their needs,
                  listen to their
                  feedback,
                  and continually enhance our services to exceed their expectations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <img class="sim-card-img"
                       src="./assets/images/about-us-images-blue/qlty-r.jpg" />
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Quality and Reliability </h6>
              <div class="fbox-txt">
                <p> We
                  are dedicated to delivering crystal-clear voice quality and uninterrupted
                  conversations. Our
                  advanced technology and robust infrastructure ensure that our users enjoy a
                  seamless communication
                  experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp  mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <div class="sim-voice-image-section">
                    <img class="sim-card-img"
                         src="./assets/images/about-us-images-blue/affb.jpg" />
                  </div>
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Affordability </h6>
              <div class="fbox-txt">
                <p> We believe
                  that staying connected should be affordable for everyone. By offering
                  competitive rates and
                  cost-effective calling options, we make global communication accessible to
                  all.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <img class="sim-card-img"
                       src="./assets/images/about-us-images-blue/innv.jpg" />
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Innovation </h6>
              <div class="fbox-txt">
                <p>We embrace
                  innovation and continuously explore new technologies to enhance our
                  services. We stay ahead of the
                  curve, adapting to evolving market trends and providing cutting-edge
                  solutions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Premium quality voice card -->
<section class="hd-voice-row">
  <div class="hd-row-background ">
    <div class="container ">
      <div class="row">
        <div class="col-12">
          <div class="hd-voice-text wow fadeInUp">Vinota is the first app that delivers Premium quality VOICE</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- One call card -->
<section class="one-call-card">
  <div class="container">
    <div class="one-call-card-bg">
      <div class="content">
        <h2 class="s-46 wow fadeInUp">UNITING THE <span style="color:#3399cc">WORLD</span>, ONE CALL AT
          A <span style="color:rgb(21, 189, 91)">TIME</span></h2>
        <a class="wow fadeInUpBig" href="https://hello.vinota.com/login" target="_blank">Get Started</a>
      </div>
    </div>
  </div>
</section>
