<!-- WHY VINOTA DESCRIPTION -->

<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="lg-screen wow fadeInUp">
          <div class="row">
            <div class="col-7">
              <div class="wow fadeInUp page-main-title-blue-lg">Why VINOTA</div>
              <p class="paragraph-gap">Vinota stands out as the ultimate choice for seamless
                global communication.
                With our unparalleled quality, affordable rates, and worldwide connectivity, we
                redefine how you
                connect with the world.
              </p>
              <p class="wow fadeInUpBig">Get started now and experience the future of global connectivity.
                Enhance Your International Calling Experience
              </p>
              <a class="get-start-btn wow fadeInUpBig">Start Calling Now</a>
            </div>
            <div class="col-5"><img
              src="./assets/images/page-first-image/3000071.jpg"
              class="banner-content-img wow fadeInLeft" /></div>
          </div>
        </div>
      </div>
      <div class="sm-screen">
        <div class="row">
          <div class="col-12">
            <div class="wow fadeInUp page-main-title-blue-lg">Why VINOTA</div>
            <p class="wow fadeInUpBig">Vinota stands out as the ultimate choice for seamless global
              communication.
              With our unparalleled quality, affordable rates, and worldwide connectivity, we
              redefine how you
              connect with the world.
              <br>
              You can connect globally without breaking the bank. Embark on a journey of seamless
              communication. Get
              started now and experience the future of global connectivity.
              Enhance Your International Calling Experience
            </p>
            <a class="wow fadeInUpBig get-start-btn">Start Calling Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CARDS ROW -->
<section class="features-section">
  <div class="container">
    <div class="fbox-wrapper text-center">
      <div class="row ">
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <img class="sim-card-img"
                       src="./assets/images/about-us-images-blue/affb.jpg" />
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Affordability</h6>
              <div class="fbox-txt">
                <p>Experience crystal-clear voice quality, connect with loved ones worldwide,
                  and save on your
                  international calls with our affordable rates.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <img class="sim-card-img"
                       src="./assets/images/about-us-images-blue/innv.jpg" />
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Innovativeness</h6>
              <div class="fbox-txt">
                <p>Discover the innovative features that set Vinota apart. From adaptive routing
                  for optimal call
                  delivery to intuitive interfaces, we're constantly pushing boundaries to
                  enhance your calling
                  experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp  mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <div class="sim-voice-image-section">
                    <img class="sim-card-img"
                         src="./assets/images/about-us-images-blue/qlty-r.jpg" />
                  </div>
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Quality </h6>
              <div class="fbox-txt">
                <p> Enjoy premium call quality that ensures every conversation is clear, crisp,
                  and immersive.
                  Experience the difference with our commitment to excellence.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="review-card-sm wow fadeInUp mb-30">
            <div class="content">
              <div class="fbox-img">
                <div class="sim-voice-image-section">
                  <img class="sim-card-img"
                       src="./assets/images/about-us-images-blue/qlty-r.jpg" />
                </div>
              </div>
              <h6 class="page-sub-title-blue-xsm">Reliability </h6>
              <div class="fbox-txt">
                <p>Trust in reliable network infrastructure for seamless connectivity. Say
                  goodbye to call drops and
                  hello to uninterrupted conversations with your friends and family.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--- ============================================= section 3  ============================================= -->

<section id="lnk-1" class="lg-screen slide-text-sim">
  <div class="container hd-section-bottom">
    <div class="row d-flex align-items-center">
      <div class="col-md-5">
        <div class="sim-shape">
          <div class="sim-content">
            <div class="carousel">
              <div class="carousel-container">
                <div class="carousel-item" [class.active]="isActive == 1">
                  <div class="page-sub-title-gray-sm">Superior Quality, Uninterrupted Conversations</div>
                  <p>Connect like never before with Vinota's cutting-edge technology, delivering a
                    crystal-clear
                    voice that captures every word, tone, and emotion. Feel closer to loved
                    ones, friends, and
                    colleagues, no matter the distance.</p>
                </div>
                <div class="carousel-item" [class.active]="isActive == 2">
                  <div class="page-sub-title-gray-sm">Seamless Connections Made Simple</div>
                  <p>Vinota's user-friendly interface ensures effortless navigation and easy
                    access to all the
                    features you need. Connect with the world effortlessly, focusing on
                    meaningful connections
                    without any hassle or complexity.</p>
                </div>
                <div class="carousel-item" [class.active]="isActive == 3">
                  <div class="page-sub-title-gray-sm">Unparalleled Support and Assistance</div>

                  <p> Our dedicated team is here for you round-the-clock. Get personalized
                    assistance, resolve
                    technical issues, and enjoy a smooth and hassle-free experience. Feel
                    reassured with our
                    reliable support service, just a message away.</p>
                </div>

              </div>
            </div>

            <a class="prev" (click)="pre()">&#10094;</a>&nbsp;
            <a class="next"(click)="next()">&#10095;</a>&nbsp;
            <br>
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 text-sim-under-section">
        <div class="flex">
          <div class="flex-item card-section-2">
            <div class="wow fadeInUp">
              <div class="statistic-block">
                <div class="statistic-block-digit text-center ">
                  <div class="page-sub-title-blue-md wow fadeInUpBig">Start Your
                    Seamless Connectivity with
                    Vinota</div>
                  <div class=" wow fadeInUpBig">
                    <p>Your Gateway to Seamless Global Connectivity. With Vinota, you can
                      experience crystal clear
                      voice quality, affordable rates, and unlimited connectivity to
                      countries worldwide. Our
                      user-friendly app interface ensures a hassle-free international call
                      experience, while our
                      reliable support team is available 24/7 to assist you. Join the
                      Vinota community and unlock
                      a
                      world of limitless possibilities. Download the app now and connect
                      with confidence.
                    </p>
                    <div class="d-flex justify-content-center">
                      <img src="./assets/images/55.png" alt=""
                           class="download-img" />
                      <img src="./assets/images/56.png" alt=""
                           class="download-img" />
                      <img src="./assets/images/60.png" alt=""
                           class="download-img" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--- ============================================= section 3  ============================================= -->

<section id="lnk-1" class="sm-screen">
  <div class="container hd-section-bottom">
    <div class="row d-flex align-items-center">
      <div class="col-12">
        <div class="statistic-block">
          <div class="statistic-block-digit text-center ">
            <div class="page-sub-title-blue-md wow fadeInUpBig">Start Your
              Seamless Connectivity with
              Vinota</div>
            <div class=" wow fadeInUpBig">
              <p>Your Gateway to Seamless Global Connectivity. With Vinota, you can
                experience crystal clear
                voice quality, affordable rates, and unlimited connectivity to
                countries worldwide. Our
                user-friendly app interface ensures a hassle-free international call
                experience, while our
                reliable support team is available 24/7 to assist you. Join the
                Vinota community and unlock
                a
                world of limitless possibilities. Download the app now and connect
                with confidence.
              </p>
              <div class="d-flex justify-content-center">
                <img src="./assets/images/55.png" alt=""
                     class="download-img" />
                <img src="./assets/images/56.png" alt=""
                     class="download-img" />
                <img src="./assets/images/60.png" alt=""
                     class="download-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="sim-shape">
          <div class="sim-content">
            <div class="carousel">
              <div class="carousel-container">
                <div class="carousel-item" [class.active]="isActive == 1">
                  <div class="page-sub-title-gray-sm">Superior Quality, Uninterrupted Conversations</div>
                  <p>Connect like never before with Vinota's cutting-edge technology, delivering a
                    crystal-clear
                    voice that captures every word, tone, and emotion. Feel closer to loved
                    ones, friends, and
                    colleagues, no matter the distance.</p>
                </div>
                <div class="carousel-item" [class.active]="isActive == 2">
                  <div class="page-sub-title-gray-sm">Seamless Connections Made Simple</div>
                  <p>Vinota's user-friendly interface ensures effortless navigation and easy
                    access to all the
                    features you need. Connect with the world effortlessly, focusing on
                    meaningful connections
                    without any hassle or complexity.</p>
                </div>
                <div class="carousel-item" [class.active]="isActive == 3">
                  <div class="page-sub-title-gray-sm">Unparalleled Support and Assistance</div>

                  <p> Our dedicated team is here for you round-the-clock. Get personalized
                    assistance, resolve
                    technical issues, and enjoy a smooth and hassle-free experience. Feel
                    reassured with our
                    reliable support service, just a message away.</p>
                </div>

              </div>
            </div>

            <a class="prev" (click)="pre()">&#10094;</a>&nbsp;
            <a class="next"(click)="next()">&#10095;</a>&nbsp;
            <br>
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--- =============================================  Connect smarter  ============================================= -->

<section class="one-call-card">
  <div class="container">
    <div class="one-call-card-bg">
      <div class="content">
        <h2 class="s-46 wow fadeInUpBig">CONNECT <span style="color:#3399cc">SMARTER</span>, COMMUNICATE
          <span style="color:rgb(21, 189, 91)">BETTER </span>
        </h2>
        <a class="wow fadeInUpBig">Start Calling Now</a>
      </div>
    </div>
  </div>
</section>
