.page-sub-title-blue-md {
  margin: 10px;
}

.banner-wrapper {
  @media all and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .banner-content a {
    margin-bottom: 0px;

    @media all and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.fbox-txt {
  padding: 5px 0px 0px 0px;
  color: #6c757d;
}


* {
  box-sizing: border-box
}

.prev,
.next {
  margin-left: -20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0px;
  margin-top: -22px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  margin-right: -20px;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #71ddf8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.sim-shape {
  padding: 50px 45px;
  height: max-content;
  width: 100%;
  position: relative;

  @media all and (max-width: 768px) {
    .sim-shape {
      padding: 2em 1.5em;
      margin: 4em 10px 2em;
      max-width: 100%;
      width: auto;
      box-sizing: border-box;
    }
  }
}

@media all and (max-width: 768px) {
  .sim-shape::after {
    display: none;
  }
}

.sim-shape::after,
.sim-shape::before {
  content: "";
  background: linear-gradient(233deg, transparent 61px 0px, white 0);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.sim-shape::before {
  top: 0;
  left: 0;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}

.sim-shape::after {
  top: 2%;
  left: 5%;
  z-index: 1;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
}

.sim-shape .sim-content {
  position: relative;
  z-index: 2;

  .title {
    margin-bottom: 15px;
  }
}

.sim-shape .title p {
  color: var(--primary-color);
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
}

.sm-screen {
  padding-top: 1em;
}

.card-section-2 {
  margin-bottom: 10px;

  h3 {
    color: var(--primary-color);
    font-size: 1em;
    margin: 0 0 10px;
  }

  p {
    line-height: 1.25;
    font-size: 1em;
  }
}

@media all and (max-width: 768px) {
  .reviews-1-wrapper .review-author {
    text-align: center;
    padding: 0 0 0 0px
  }
}

.text-sim-under-section {
  padding-left: 5em;

  @media all and (max-width: 768px) {
    padding-left: 0em;
  }

  .flex {
    flex-wrap: wrap;
    height: 100%;
  }

  .card-section-2 {
    padding: 1em 2em;
    flex: 1 1 50%;
    height: 100%;

    @media all and (max-width: 768px) {
      flex: 1 1 100%;
    }
  }
}

.download-img {
  width: 30%;
  width: 30%;
  display: block;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.20);
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;
  border-radius: 15px;
  overflow: hidden;
  margin-inline-end: 25px;

  @media all and (max-width: 768px) {
    margin-inline-end: 10px;
  }

  &:hover {
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  }

  img {
    max-height: 56px;
  }

  @media all and (max-width: 768px) {
    width: 33%;
  }
}



.sim-card-img {
  object-fit: contain;
  width: 190px;
  height: 190px;
}

.features-section {
  padding-top: 1em;
  padding-bottom: 8em;

  @media all and (max-width: 768px) {
    padding-top: 2em;
    padding-bottom: 0em;
  }
}

.one-call-card .one-call-card-bg {
  padding-top: 3em;
  padding-bottom: 4em;
}

.slide-text-sim {
  padding-bottom: 4em;
}

.banner-content .banner-content-img {
  height: 90%;
}