<div class="link-stripe">
  <div class="pink-bar">
    <div class="w">
      <div class="icons">
        <span class="animate__animated animate__fadeInUp">Download it from</span>
        <a href="https://apps.apple.com/us/app/vinota-international-calling/id1103113535" target="_blank" class="animate__animated animate__fadeInUp"><img src="./assets/images/new/app-store-dark.svg"></a>
        <a href="https://play.google.com/store/apps/details?id=org.vinota
" target="_blank" class="animate__animated animate__fadeInUp"><img src="./assets/images/new/google-play-dark-colored.svg"></a>
      </div>
    </div>
  </div>
</div>
