<!doctype html>
<html lang="en">
<body>
  <div id="page" class="page">
    <!-- ============================================= HEADER ============================================= -->
    <header id="header" class="main-header white-scroll">
      <div class="header-wrapper flex align-center justify-content-between">
        <div class="logo">
          <a routerLink="/index"><img src="../../../assets/images/Vinota-Logo-New-white12345.png" /></a>
        </div>
        <span class="nav-icon">
          <a></a>
        </span>
        <nav class="nav-bar">
          <a routerLink="/index">Home</a>
          <a routerLink="/call-rates">Rates</a>
          <a routerLink="/apps">Apps</a>
          <a type="button" (click)="navigateToSection('support_section')">Support</a>
          <a href="https://hello.vinota.com/register">Join</a>
          <a href="https://hello.vinota.com/login" style="border-radius: 7px;
    background: #04AA6D;
    color: white;">Top-up</a>
        </nav>
        <div></div>
      </div>
      <a href="https://hello.vinota.com/login" class="login-button">Login</a>
    </header>
    <!--- ============================================= DOWNLOAD IMAGES ============================================= -->
    <div class="link-stripe">
      <div class="pink-bar">
        <div class="w">
          <div class="icons">
            <span class="animate__animated animate__fadeInUp">Download it from</span>
            <a class="animate__animated animate__fadeInUp"><img src="../../../assets/images/new/app-store-x200.png"></a>
            <a class="animate__animated animate__fadeInUp"><img src="../../../assets/images/new/google-play-x200.png"></a>
          </div>
        </div>
      </div>
    </div>
    <!--- ============================================= KNOWLEDGE BASE TITLE ============================================= -->
    <section class="bg--scroll hero-section">
      <div class="banner-wrapper">
        <div class="banner-content">
          <div class="content">
            <div class="wow fadeInUp page-main-title-blue-lg">Knowledge Base</div>
          </div>
        </div>
      </div>
    </section>

    <div id="support_section">
      <div [class.not-active]="changeClass">
        <br>
        <br>
        <br>
        <br>
        <div class="support">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-1 ">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/apps">
                        APPs</a></li>
                    <span class="support-description">
                      <p>Explore the Great Features of the Vinota App
                      </p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-2">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> SUPPORT TICKETS</a>
                    </li>
                    <span class="support-description">
                      <p>Visit Support Tickets
                      </p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                        routerLink="/knowledge-base"> KNOWLEDGE BASE</a></li>
                    <span class="support-description">
                      <p>Everything You Need to Know About Vinota</p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a routerLink="/faq"> FAQs
                      </a></li>
                    <span class="support-description">
                      <p>All Your Questions Answered</p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-3">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> ADD CREDIT </a></li>
                    <span class="support-description">
                      <p>Get in Touch with Us
                      </p>
                    </span>
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a
                        routerLink="/contact-us"> CONTACT US </a></li>
                    <span class="support-description">
                      <p>Get in touch with us</p>
                    </span>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 col-xl-3">
                <div class="footer-links fl-3">
                  <ul class="foo-links clearfix">
                    <li> <img class="support-icon-sm"
                        src="../../../assets/images/images-sm/icons8-bookmark-64.png" />&nbsp;<a> FEEDBACK </a></li>
                    <span class="support-description">
                      <p>We love to hear from you</p>
                    </span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--- ============================================= KNOWLEDGE BASE LINKS ============================================= -->
    <section class="content-section">
      <div class="row d-flex align-items-center">
        <div class="col-md-12 calling-with-vinota-section">
          <div class="flex">
            <div class="flex-item card-section-2">
              <div class="wow fadeInUp">
                    <h2 class="page-sub-title-gray-md">Calling With Vinota </h2>
                    <div>
                      <p><span class="star-mark">★</span>&nbsp;Can I make calls with Vinota, without an internet connection?
                      </p>
                    </div>
                    <div>
                      <p><span class="star-mark">★</span>&nbsp;How long can I talk for on my first free call?
                      </p>
                    </div>
                    <div>
                      <p><span class="star-mark">★</span>&nbsp;How to make calls With Vinota
                      </p>
                    </div>
              </div>
            </div>
            <div class="flex-item card-section-2">
              <div class="wow fadeInUp">
                    <h2 class="page-sub-title-gray-md">Sign Up</h2>
                    <div>
                      <p><span class="star-mark">★</span>&nbsp;How to sign up for Vinota?
                      </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div> <!-- END PAGE CONTENT -->
</body>
</html>