<!--- ============================================= DOWNLOAD IMAGES ============================================= -->
<div class="link-stripe">
  <div class="pink-bar">
    <div class="w">
      <div class="icons">
        <span class="animate__animated animate__fadeInUp">Download it from</span>
        <a class="animate__animated animate__fadeInUp"><img src="./assets/images/new/app-store-x200.png"></a>
        <a class="animate__animated animate__fadeInUp"><img src="./assets/images/new/google-play-x200.png"></a>
      </div>
    </div>
  </div>
</div>
<!--- ============================================= KNOWLEDGE BASE TITLE ============================================= -->
<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-black-lg">Knowledge Base</span>
  </div>
</section>


<!--- ============================================= KNOWLEDGE BASE LINKS ============================================= -->
<section class="content-section">
  <div class="row d-flex align-items-center">
    <div class="col-md-12 calling-with-vinota-section">
      <div class="flex">
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <h2 class="page-sub-title-gray-md">Calling With Vinota </h2>
            <div>
              <p><span class="star-mark">★</span>&nbsp;Can I make calls with Vinota, without an internet connection?
              </p>
            </div>
            <div>
              <p><span class="star-mark">★</span>&nbsp;How long can I talk for on my first free call?
              </p>
            </div>
            <div>
              <p><span class="star-mark">★</span>&nbsp;How to make calls With Vinota
              </p>
            </div>
          </div>
        </div>
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <h2 class="page-sub-title-gray-md">Sign Up</h2>
            <div>
              <p><span class="star-mark">★</span>&nbsp;How to sign up for Vinota?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
