<!--- ============================================= KNOWLEDGE BASE TITLE ============================================= -->
<!-- <section class="bg--scroll main-section">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-black-lg">Knowledge Base</span>
  </div>
</section> -->
<!-- Support section -->
<app-support-section id="support_section"></app-support-section>

<!--- ============================================= KNOWLEDGE BASE LINKS ============================================= -->

<!-- <section class="content-section">
  <div class="row d-flex align-items-center">
    <div class="col-md-12 calling-with-vinota-section">
      <div class="flex">
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <h2 class="page-sub-title-gray-md">Calling With Vinota </h2>
            <div>
              <p><span class="star-mark">★</span>&nbsp;Can I make calls with Vinota, without an internet connection?
              </p>
            </div>
            <div>
              <p><span class="star-mark">★</span>&nbsp;How long can I talk for on my first free call?
              </p>
            </div>
            <div>
              <p><span class="star-mark">★</span>&nbsp;How to make calls With Vinota
              </p>
            </div>
          </div>
        </div>
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <h2 class="page-sub-title-gray-md">Sign Up</h2>
            <div>
              <p><span class="star-mark">★</span>&nbsp;How to sign up for Vinota?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <div class="banner-content">
      <div class="content">
        <div class="row">
          <div class="col-lg-7 col-12">
            <h1 class="wow fadeInUp page-main-title-black-lg">Knowledge Base</h1>
            <div class="wow fadeInUpBig">
              <p class="paragraph-gap">Welcome to Vinota, a leading internet telephony
                service provider
                that
                revolutionizes global communication. Since our inception in 2008, we have been
                committed to offering
                affordable international calls and connecting people worldwide. With our
                user-friendly app available
                for Android and iPhone, Vinota enables users to make affordable and high-quality
                calls to any mobile
                or landline number across the globe. Our unique design and simplicity have
                earned us a reputation as
                the preferred choice for many users, who regard Vinota as the best calling
                experience they've ever
                had.
              </p>
            </div>
            <a class="wow fadeInUpBig get-start-btn" href="https://hello.vinota.com/register" target="_blank">Start
              Calling Now </a>
          </div>
          <div class="col-lg-5 col-12">
            <img src="./assets/images/page-first-image/3000071.jpg" class="banner-content-img wow fadeInLeft" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog cards list -->
  <div class="container">
    <!-- <div class="row d-flex align-items-center">
      <div class="col-md-7">
        <div class="wow fadeInUp mb-30">
          <div class="content">
            <div class="pickgradient">
              <img src="./assets/images/blogs/blogs_top.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class=" wow fadeInUp mb-30">
          <div class="content">
            <div class="blog-post-txt">
              <span class="post-tag color--blue-400">Calling Eritrea
              </span>
              <h3 class="title-black-md">
                <a (click)="showMore()"> Cost-Saving Guide
                </a>
              </h3>
              <p>In this era of global connections, staying in touch with friends and family across borders is an
                everyday necessity. And if you're calling Eritrea, you've likely noticed that international calling can
                quickly add up. But what if we told you there's a way to save big on your calls without compromising on
                call quality?
              </p>
              <div class="blog-post-meta mt-30">
                <ul class="post-meta-list ico-10">
                  <li>
                    <p class="w-500">By Centavo Team &nbsp;| &nbsp;</p>
                  </li>
                  <li class="meta-list-divider">
                    <p> </p>
                  </li>
                  <li>
                    <p>Nov 11, 2023</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Latest News  -->
    <div class="row latest-news-text">
        <div class="posts-category ico-20 wow fadeInUp">
          <h4 class="s-26 w-700">Latest News <span class="flaticon-next"></span></h4>
        </div>
    </div>

    <section class="features-section">
      <div class="container">
        <div class="fbox-wrapper">
          <div class="row ">
            <div class="col-md-4">
              <div class="review-card-sm wow fadeInUp mb-30" (click)="showMore('cost-saving-guide')">
                <div class="content">
                  <div class="fbox-img">
                    <div class="sim-voice-image-section">
                      <img class="blog-list-img r-16" src="./assets/images/blogs/cost-c.jpg" alt="blog-post-image">
                    </div>
                  </div>
                  <span class="post-tag color--blue-400">Calling Eritrea
                  </span>
                  <h3 class="s-26 w-700">
                    <a>Cost-Saving Guide
                    </a>
                  </h3>
                  <div class="fbox-txt">
                    <p>In this era of global connections, staying in touch with friends and family across borders is an
                      everyday necessity. And if you're calling Eritrea, you've likely noticed that international calling
                      can
                      quickly add up. But what if we told you there's a way to save big on your calls without compromising
                      on
                      call quality?
                    </p>
                  </div>
                  <div class="blog-post-meta mt-20">
                    <ul class="post-meta-list ico-10">
                      <li>
                        <p class="w-500">By Centavo Team &nbsp;|&nbsp;</p>
                      </li>
                      <li class="meta-list-divider">
                        <p> </p>
                      </li>
                      <li>
                        <p>Nov 11, 2023</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="review-card-sm wow fadeInUp mb-30"  (click)="showMore('best-calling-app')">
                <div class="content">
                  <div class="fbox-img">
                    <div class="sim-voice-image-section">
                      <img class="blog-list-img r-16" src="./assets/images/blogs/maxresdefault.jpg" alt="blog-post-image">
                    </div>
                  </div>
                  <span class="post-tag color--blue-400">Best International Calling App
                  </span>
                  <h3 class="s-26 w-700">
                    <a>Discover the top Apps
                    </a>
                  </h3>
                  <div class="fbox-txt">
                    <p>Staying in touch with loved ones who live far away has never been easier because to the power of technology. With the emergence of international calling apps, you may now talk, message, or video-call your friends and family from anywhere in the world. There will be no more exorbitant foreign fees or erratic connectivity.

                    </p>
                  </div>
                  <div class="blog-post-meta mt-20">
                    <ul class="post-meta-list ico-10">
                      <li>
                        <p class="w-500">By Centavo Team &nbsp;|&nbsp;</p>
                      </li>
                      <li class="meta-list-divider">
                        <p> </p>
                      </li>
                      <li>
                        <p>Nov 11, 2023</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- you video tutorials blue sim background -->
    <div class="blog-post square-post">
      <div class="row">
        <div class="col">
          <div class="square-post-wrapper wow fadeInUp">
            <div class="row d-flex align-items-center">
              <div class="col-md-7 order-last order-md-2">
                <div class="blog-post-txt color--black-400 ">
                  <span class="post-tag color--red-400">Video Tutorials <a class="social-button youtube"
                      href="https://www.youtube.com/vinota" target="_blank"><i class="fab fa-youtube"></i></a></span>
                  <h4 class="s-26 w-700 mb-20 ">
                    <a href="#"> Affordable International Calling App
                    </a>
                  </h4>
                  <p class="color--black-400 ">Stay connected worldwide with Vinota`s international calling app.
                    Experience crystal-clear international calls and affordable rates.
                  </p>
                </div>
              </div>
              <div class="col-md-5 order-first order-md-2">
                <div class="blog-post-img video-preview">
                  <a class="video-popup1" href="https://www.youtube.com/vinota">
                    <div class="video-btn video-btn-xl bg--pink-400 ico-90">
                      <div class="video-block-wrapper"><span class="flaticon-play-button"></span></div>
                    </div>
                  </a>
                  <img class="img-fluid" src="./assets/images/youtube-6483294_640.webp" alt="video-preview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All Stories -->
    <div class="row">
      <div class="col">
        <div class="posts-category ico-20 wow fadeInUp">
          <h4 class="s-26 w-700">All Stories <span class="flaticon-next"></span></h4>
        </div>
      </div>
    </div>
    <section class="features-section">
      <div class="container">
        <div class="fbox-wrapper">
          <div class="row ">
            <div class="col-md-4">
              <div class="review-card-sm wow fadeInUp mb-30" (click)="showMore('cost-saving-guide')">
                <div class="content">
                  <div class="fbox-img">
                    <div class="sim-voice-image-section">
                      <img class="blog-list-img r-16" src="./assets/images/blogs/cost-c.jpg" alt="blog-post-image">
                    </div>
                  </div>
                  <span class="post-tag color--blue-400">Calling Eritrea
                  </span>
                  <h3 class="s-26 w-700">
                    <a>Cost-Saving Guide
                    </a>
                  </h3>
                  <div class="fbox-txt">
                    <p>In this era of global connections, staying in touch with friends and family across borders is an
                      everyday necessity. And if you're calling Eritrea, you've likely noticed that international calling
                      can
                      quickly add up. But what if we told you there's a way to save big on your calls without compromising
                      on
                      call quality?
                    </p>
                  </div>
                  <div class="blog-post-meta mt-20">
                    <ul class="post-meta-list ico-10">
                      <li>
                        <p class="w-500">By Centavo Team &nbsp;|&nbsp;</p>
                      </li>
                      <li class="meta-list-divider">
                        <p> </p>
                      </li>
                      <li>
                        <p>Nov 11, 2023</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="review-card-sm wow fadeInUp mb-30"  (click)="showMore('best-calling-app')">
                <div class="content">
                  <div class="fbox-img">
                    <div class="sim-voice-image-section">
                      <img class="blog-list-img r-16" src="./assets/images/blogs/maxresdefault.jpg" alt="blog-post-image">
                    </div>
                  </div>
                  <span class="post-tag color--blue-400">Best International Calling App
                  </span>
                  <h3 class="s-26 w-700">
                    <a>Discover the top Apps
                    </a>
                  </h3>
                  <div class="fbox-txt">
                    <p>Staying in touch with loved ones who live far away has never been easier because to the power of technology. With the emergence of international calling apps, you may now talk, message, or video-call your friends and family from anywhere in the world. There will be no more exorbitant foreign fees or erratic connectivity.

                    </p>
                  </div>
                  <div class="blog-post-meta mt-20">
                    <ul class="post-meta-list ico-10">
                      <li>
                        <p class="w-500">By Centavo Team &nbsp;|&nbsp;</p>
                      </li>
                      <li class="meta-list-divider">
                        <p> </p>
                      </li>
                      <li>
                        <p>Nov 11, 2023</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="review-card-sm wow fadeInUp mb-30"  (click)="showMore('best-calling-app')">
                <div class="content">
                  <div class="fbox-img">
                    <div class="sim-voice-image-section">
                      <img class="blog-list-img r-16" src="./assets/images/blogs/maxresdefault.jpg" alt="blog-post-image">
                    </div>
                  </div>
                  <span class="post-tag color--blue-400">Vinota Now Accepts Cryptocurrency Payments: A Step-by-Step Guide
                  </span>
                  <h3 class="s-26 w-700">
                    <a>Cryptocurrency Payments
                    </a>
                  </h3>
                  <div class="fbox-txt">
                    <p>With the growing usage of digital currencies, Vinota is happy to inform you that it now takes payments in a variety of cryptocurrencies. Users now have more options to recharge their accounts and maintain relationships with loved ones throughout the globe thanks to this exciting update. We'll take you through the easy steps of using Vinota to make bitcoin payments in this comprehensive guide.</p>
                  </div>
                  <div class="blog-post-meta mt-20">
                    <ul class="post-meta-list ico-10">
                      <li>
                        <p class="w-500">By Centavo Team &nbsp;|&nbsp;</p>
                      </li>
                      <li class="meta-list-divider">
                        <p> </p>
                      </li>
                      <li>
                        <p>Nov 11, 2023</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!-- <div class="pb-100 page-pagination theme-pagination">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="Page navigation">
          <ul class="pagination ico-20 justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span
                  class="flaticon-back"></span></a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                  class="flaticon-next"></span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> -->
<!-- Subscribe box -->
<hr class="divider">
<!-- <section  class="newsletter-section">
  <div class="newsletter-overlay-align">
    <div class="container">
      <div class="row d-flex align-items-center row-cols-1 row-cols-lg-2">
        <div class="col">
          <div class="newsletter-txt">
            <h4 class="s-26 w-700">Stay up to date with our news, ideas and updates</h4>
          </div>
        </div>
        <div class="col">
          <form class="newsletter-form">
            <div class="input-group">
              <input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required id="s-email">
              <span class="input-group-btn">
                <button type="submit" class="btn btn--theme hover--theme"> Now</button>
              </span>
            </div>
            <label for="s-email" class="form-notification"></label>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>	 -->
