.content-wrapper {
  max-width: 980px;
  padding: 15px;
  margin: 0 auto;
  
}

p {
  font-size: 1em;
  line-height: 1.4;
}

li {
  line-height: 1.4;
}

td,
th {
  font-size: .85em;
  line-height: 1.25;
}

.banner-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #20a7ff33;
}

.contact-info-card p {
  margin-top: 0;
  margin-bottom: 0.5rem !important;
} 

