
  .hero-section {
   padding-top: 8em;
   padding-bottom: 4em;
   @media all and (max-width: 768px) {
     padding-top: 1em;
     padding-bottom: 3em
    }
  }


.banner-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #20a7ff33;
  text-align: center;
  @media all and (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      height: fit-content;
    }
    .banner-bg {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      @media all and (max-width: 768px) {
          position: relative;
          aspect-ratio: 16/9;
      }
    }
}


.text-sim-under-section{
  .flex {
    flex-wrap: wrap;
    height: 100%;
  }
  .card-section-2 {
    margin-bottom: 10px;
    padding: 0em 2em;
    flex: 1 1 50%;
    height: 100%;
    @media all and (max-width: 768px) {
        flex: 1 1 100%;
    }
    h3 {
      font-size: 1.3em;
      color: var(--primary-color);
      margin-bottom: 8px;
      font-weight: 600;;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.2;
    }
  }
  
}




