
<!--- ============================================= section 3  Why our Customer Love us? ============================================= -->
<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-blue-lg">FAQs</span>
  </div>
</section>

<section class="content-section">
  <div class="row d-flex align-items-center">
    <div class="col-md-12 text-sim-under-section">
      <div class="flex">
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <div class="statistic-block">
              <div class="statistic-block-digit">
                <h2 class="page-sub-title-gray-sm">Calling</h2>
                <div>
                  <h3>How do I make an international call with Vinota?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;To make an international call with Vinota, simply open the app, enter the country code followed
                    by the phone number, and press the call button. You can also check the rates within the app.
                  </p>
                </div>
                <div>
                  <h3>Can I use Vinota to call both mobile and landline numbers?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Yes, Vinota allows you to make calls to both mobile and landline numbers worldwide.
                  </p>
                </div>
                <div>
                  <h3>What are the calling rates for different countries?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Vinota offers competitive calling rates for various countries. You can find the detailed
                    calling rates on our website or within the Vinota app.
                  </p>
                </div>
                <div>
                  <h3>Is it possible to make conference calls with Vinota?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Currently, Vinota supports one-on-one calling. Conference call features may be added in future
                    updates.
                  </p>
                </div>
                <div>
                  <h3>Can I use Vinota to call someone who doesn't have the app?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Yes, you can use Vinota to call anyone, even if they don't have the app.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <div class="statistic-block">
              <!-- Digit -->
              <div class="statistic-block-digit ">
                <h2 class="page-sub-title-gray-sm">Technical Issues</h2>
                <div>
                  <h3>I'm experiencing poor call quality. What can I do?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Ensure a stable internet connection and check your device's signal strength. If the issue
                    persists, contact our support team for further assistance.
                  </p>
                </div>
                <div>
                  <h3>Vinota app is not connecting. What should I check?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Make sure you have a reliable internet connection. If the problem continues, try restarting the
                    app or reinstalling it. If the issue persists, reach out to our support team.
                  </p>
                </div>
                <div>
                  <h3>What should I do if I come across any technical issues?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Please send us a detailed description of the issue you are facing with your Vinota number to <a
                    href="support@vinota">support@vinota</a>.com or visit the "Contact Us" section on our website.
                  </p>
                </div>
                <div>
                  <h3>Is Vinota compatible with all mobile devices and operating systems?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Vinota is compatible with most popular mobile devices and operating systems, including iOS and
                    Android. Check the app store for specific compatibility requirements.
                  </p>
                </div>
                <div>
                  <h3>Can I make calls with Vinota without an internet connection?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;To make calls from the Vinota App, an internet connection is needed. However, you can use a
                    Vinota Access Number to make calls without the internet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <div class="statistic-block">
              <!-- Digit -->
              <div class="statistic-block-digit">
                <h2 class="page-sub-title-gray-sm">Billing</h2>
                <div>
                  <h3>How can I check my Vinota account balance?</h3>
                  <p><span class="star-mark">★</span>&nbsp;You can view your Vinota credit balance within the app.</p>
                </div>
                <div>
                  <h3>What are the payment methods accepted by Vinota?</h3>
                  <p><span class="star-mark">★</span>&nbsp;Vinota accepts various payment methods, including card payments and PayPal. </p>
                </div>
                <div>
                  <h3>How do I add credits to my Vinota account?</h3>
                  <p><span class="star-mark">★</span>&nbsp;To add credits, go to the options section within the app and select the option to add credits. Follow the instructions to complete the payment process
                    .</p>
                </div>
                <div>
                  <h3>Can I get a refund for unused credits?</h3>
                  <p><span class="star-mark">★</span>&nbsp;Refund policies may vary. Please refer to our refund policy on the website or contact our support team for more information.
                  </p>
                </div>
                <div>
                  <h3>Where can I find the details of my past transactions?</h3>
                  <p><span class="star-mark">★</span>&nbsp;You can find the details of your past transactions in the Options > Payment History section of the Vinota app.
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="flex-item card-section-2">
          <div class="wow fadeInUp">
            <div class="statistic-block">
              <!-- Digit -->
              <div class="statistic-block-digit">
                <h2 class="page-sub-title-gray-sm">General</h2>
                <div>
                  <h3 >Is Vinota available in my country?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Vinota is available in multiple countries worldwide. Please check our website or app store for
                    a list of supported countries.</p>
                </div>
                <div>
                  <h3>How long will my credit be valid?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Vinota credit has lifetime validity as long as you remain an active Vinota user.</p>
                </div>
                <div>
                  <h3>Can I use Vinota while traveling abroad?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Yes, you can use Vinota while traveling abroad, as long as you have an internet connection.
                  </p>
                </div>
                <div>
                  <h3>Are my calls with Vinota encrypted and secure?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;Yes, Vinota prioritizes the security and privacy of your calls. Our app utilizes encryption
                    protocols to protect your communication.
                  </p>
                </div>
                <div>
                  <h3>How can I contact Vinota customer support for further assistance?
                  </h3>
                  <p><span class="star-mark">★</span>&nbsp;You can reach our customer support team by visiting the "Contact Us" section on our website or
                    by accessing the support options within the Vinota app.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
