<section class="bg--scroll hero-section">
  <div class="banner-wrapper">
    <span class="wow fadeInUp page-main-title-black-lg">Data Deletion Policy</span>
  </div>
</section>
<!-- Support section -->
<app-support-section id="support_section"></app-support-section>
<section class="content-section">
  <div class="content-wrapper">
    <p><span class="star-mark">★</span>&nbsp;User data can be deleted by submitting a support request.</p>
    <p><span class="star-mark">★</span>&nbsp;Email us on <a href="mailto: support@vinota.com"><span
          class="web-link">support@vinota.com</span></a></p>

    <p><span class="star-mark">★</span>&nbsp;While everyone promises 24x7 support, Vinota actually delivers support in
      less than 24 hours. We work around the clock to solve your issues and respond to your questions and queries in a
      matter of hours.</p>

    <p><span class="star-mark">★</span>&nbsp;The following data will be immediately deleted upon submitting a customer
      support request and uninstalling the app: IP address, SMS, contacts, device information, and device ID.</p>
    <p><span class="star-mark">★</span>&nbsp;The following data will be stored for security and compliance purposes for
      up to 6 months and will be deleted after this period: phone number, email address, name, credit card details,
      address provided with the credit card, calls made from the app, and messages sent from the app"
    </p>

    <p>For more details, please visit our privacy Policy link bellow;</p>
    <a href="https://www.vinota.com/legal-information/#!/"><span class="web-link">
        https://www.vinota.com/legal-information/#!/</span> </a>
    <hr>
    <h3>Company Information</h3>
    <div class="contact-info-card">
      <p><strong>Entity name:</strong> Vinota Networks Pty Ltd.</p>
      <p><strong>Address:</strong> 2/167 Blackburn Road,Mount Waverley, Victoria 3149, Australia</p>
      <p><strong>Entity type:</strong> Australian Private Company</p>
      <p><strong>ABN:</strong> 80 610 075 093</p>
      <p><strong>Tel:</strong> +61399880545 / +61283180332</p>
    </div>
  </div>
</section>